<!doctype html>
<html lang="en">
<head th:replace="admin/template :: header"></head>
<body class="  ">
<!-- loader Start -->
<div th:replace="admin/template :: loading"></div>
<!-- loader END -->

<!-- Wrapper Start -->
<div class="wrapper">
    <div th:replace="admin/template :: sidebar"></div>
    <div th:replace="admin/template :: navbar"></div>
    <div th:replace="admin/template :: new-order"></div>

    <div class="content-page">
        <div class="container-fluid">
            <!-- Check if User already exists -->
            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${err}">
                <strong>Error: </strong> [[${err}]]
                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                        <div>
                            <h4 class="mb-3">Comment List</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="table-responsive rounded mb-3">
                        <table class="dataTables table mb-0 tbl-server-info">
                            <thead class="bg-white text-uppercase">
                            <tr class="ligth ligth-data">
                                <th>ID</th>
                                <th>User</th>
                                <th>Blog</th>
                                <th>Review</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody class="ligth-body">
                            <th:block th:each="r, iState : ${comments}">
                                <tr>
                                    <td th:text="${r.id}"></td>
                                    <td>
                                        <div class="align-items-center">
                                            <p class="mb-0">ID: <span th:text="${usersMap.get(r.reviewerId).id}"></span>
                                            </p>
                                            <p class="mb-0">Name: <span
                                                    th:text="${usersMap.get(r.reviewerId).name}"></span></p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img alt="image"
                                                 class="img-fluid rounded avatar-50 mr-3"
                                                 style="height:60px; width:60px;object-fit: cover;"
                                                 th:src="@{${blogsMap.get(r.blogId).image}}">
                                            <div>
                                                <p class="mb-0">Title:
                                                    <span class="name"
                                                          th:text="${blogsMap.get(r.blogId).title}"></span>
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td th:text="${r.comment}"></td>
                                    <td>
                                        <div class="d-flex align-items-center list-action">
                                            <a class="badge bg-warning mr-2" data-original-title="Delete"
                                               data-target="#deleteModal"
                                               data-toggle="modal"
                                               th:href="@{'/admin/review/delete/blog/' + ${r.id}}"
                                               title=""><i class="ri-delete-bin-line mr-0"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Page end  -->
        </div>
    </div>
</div>
<!-- Wrapper End-->

<!-- Delete Modal -->
<div aria-hidden="true"
     aria-labelledby="exampleModalCenteredScrollableTitle"
     class="modal fade" id="deleteModal"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Review</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/admin/review/delete/blog}">
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Footer Start -->
<footer th:replace="admin/template :: footer"></footer>
<!-- Footer End -->


<div th:replace="admin/template :: script"></div>


<script>
    $(document).ready(function () {
        $(".tbl-server-info").on("click", ".bg-warning", function () {
            var id = $(this).closest("tr").find("td:eq(0)").text();
            $("#deleteModal form").attr("action", "/admin/review/delete/blog/" + id);
            $("#deleteModal input[name='id']").val(id);
        });

        $(".dataTables").DataTable({
            lengthMenu: [10, 25, 50, 100], // show entries
            'columnDefs': [
                {
                    'searchable': false,
                    'targets': [4] // cac truong k cho search
                    // see https://datatables.net/reference/option/columns.searchable
                },
                {
                    'orderable': false,
                    'targets': [1, 2, 3, 4] // cac truong k cho filter
                },
            ]
        });
    });
</script>
</body>
</html>