<!doctype html>
<html lang="en">
<head th:replace="admin/template :: header"></head>
<body class="  ">
<!-- loader Start -->
<div th:replace="admin/template :: loading"></div>
<!-- loader END -->

<!-- Wrapper Start -->
<div class="wrapper">
    <div th:replace="admin/template :: sidebar"></div>
    <div th:replace="admin/template :: navbar"></div>
    <div th:replace="admin/template :: new-order"></div>

    <div class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive rounded mb-3">
                        <table class="dataTables table mb-0 tbl-server-info">
                            <thead class="bg-white text-uppercase">
                            <tr class="ligth ligth-data">
                                <th class="text-center">ID</th>
                                <th class="text-center">User</th>
                                <th class="text-center">Products</th>
                                <th class="text-center">Quantity</th>
                                <th class="text-center">Total Price</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody class="ligth-body">
                            <th:block th:each="bill, iState: ${bills}">
                                <tr th:each="ci, i: ${bill.cartItem}"
                                    th:style="${i.index + 1== bill.cartItem.size()? 'padding: 10px; border-bottom: 2px solid #f0f0f0;' : ''}">
                                    <td class="align-middle text-center"
                                        th:attr="rowspan=${ i.index == 0 ? bill.cartItem.size()  : ''}"
                                        th:if="${i.index == 0}" th:text="${iState.index + 1}">
                                    </td>

                                    <td class="align-middle"
                                        th:attr="rowspan=${ i.index == 0 ? bill.cartItem.size()  : ''}"
                                        th:if="${i.index == 0}">
                                        <div class="d-flex align-items-center align-middle text-left">
                                            <img alt="image"
                                                 class="img-fluid rounded avatar-90 mr-3"
                                                 style="object-fit: cover;"
                                                 th:src="@{${bill.cart.user.avatar}}">
                                            <div>
                                                <b class="name"
                                                   th:text="${'Name: ' + bill.receiverName == null ? bill.cart.user.name : bill.receiverName + '(Id: ' + bill.cart.user.id + ')'}"></b>
                                                <p class="mb-0">
                                                    <small th:text="${'Order at: ' + #dates.format(bill.createTime, 'HH:mm dd-MM-yyyy')}"></small>
                                                </p>
                                                <p class="mb-0">
                                                    <small th:text="'Phone: ' + ${bill.phoneNumber == null ? bill.cart.user.phone : bill.phoneNumber}"></small>
                                                </p>
                                                <p class="mb-0">
                                                    <small th:text="'Address: ' + ${bill.shippingAddress == null ? bill.cart.user.address : bill.shippingAddress}"></small>
                                                </p>
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="d-flex align-items-center align-middle text-left">
                                            <img alt="image"
                                                 class="img-fluid rounded avatar-50 mr-3"
                                                 style="height:80px; width:80px;object-fit: cover;"
                                                 th:src="@{${ci.product.imgMain}}">
                                            <div>
                                                <b class="name" th:text="${ci.product.name}"></b>
                                                <p class="mb-0">
                                                    <small th:text="${'Size: ' + ci.product.size}"></small>
                                                </p>
                                                <p class="mb-0">
                                                    <small th:text="${'Color: ' + ci.product.color}"></small>
                                                </p>
                                            </div>
                                        </div>
                                    </td>

                                    <td class="align-middle text-center" th:text="${'x '+ ci.quantity}"></td>

                                    <td class="align-middle text-center"
                                        th:attr="rowspan=${ i.index == 0 ? bill.cartItem.size()  : ''}"
                                        th:if="${i.index == 0}"><b th:text="${'$' + bill.priceTotal}"></b></td>

                                    <td class="align-middle text-center"
                                        th:attr="rowspan=${ i.index == 0 ? bill.cartItem.size()  : ''}"
                                        th:if="${i.index == 0}">
                                        <a class="btn cl2 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5"
                                           th:href="@{'purchase-history/'+ ${bill.id}}">
                                            <span class="glyphicon glyphicon-trash">Info</span>
                                        </a>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Page end  -->
        </div>
    </div>
</div>
<!-- Wrapper End-->

<!-- Add Modal -->
<div aria-hidden="true"
     aria-labelledby="exampleModalCenteredScrollableTitle"
     class="modal fade" id="addModal"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Add Coupon</h5>
                <button aria-label="Close" class="close"
                        data-dismiss="modal"
                        type="button">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="post" th:action="@{/admin/coupon/new}">
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control mb-2 mr-sm-2" name="id"
                               type="hidden"/>

                        <label class="mr-sm-2">Code:</label>
                        <input class="form-control mb-2 mr-sm-2" name="code" required/>

                        <label class="mr-sm-2">Discount:</label>
                        <input class="form-control mb-2 mr-sm-2" name="discount" required type="number"/>

                        <label class="mr-sm-2">Expiration date:</label>
                        <input class="form-control mb-2 mr-sm-2" name="expirationDate" required type="date"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div aria-hidden="true"
     aria-labelledby="exampleModalCenteredScrollableTitle"
     class="modal fade" id="editModal"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="exampleModalCenteredScrollableTitle">
                    Exit Coupon</h5>
                <button aria-label="Close" class="close"
                        data-dismiss="modal"
                        type="button">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="post" th:action="@{/admin/coupon/update}">
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control mb-2 mr-sm-2" name="id"
                               type="hidden"/>

                        <label class="mr-sm-2">Code:</label>
                        <input class="form-control mb-2 mr-sm-2" name="code" required/>

                        <label class="mr-sm-2">Discount:</label>
                        <input class="form-control mb-2 mr-sm-2" name="discount" required type="number"/>

                        <label class="mr-sm-2">Expiration date:</label>
                        <input class="form-control mb-2 mr-sm-2" name="expirationDate" required type="date"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div aria-hidden="true"
     aria-labelledby="exampleModalCenteredScrollableTitle"
     class="modal fade" id="deleteModal"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Coupon</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/admin/coupon/delete/}">
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Footer Start -->
<footer th:replace="admin/template :: footer"></footer>
<!-- Footer End -->


<div th:replace="admin/template :: script"></div>


<script>
    $(document).ready(function () {
        // Khi người dùng bấm vào nút Edit trong mỗi hàng
        $(".tbl-server-info").on("click", ".bg-success", function () {
            // Lấy giá trị của loại từ cột "Type" tương ứng với hàng đó
            var code = $(this).closest("tr").find("td:eq(1)").text();
            // Đưa giá trị này vào trường nhập liệu loại trong modal
            $("#editModal input[name='code']").val(code);

            $("#editModal input[name='discount']").val($(this).closest("tr").find("td:eq(2)").text());

            var dateString = $(this).closest("tr").find("td:eq(3)").text().split('/');
            $("#editModal input[name='expirationDate']")
                .val(`${dateString[2]}-${dateString[1].padStart(2, '0')}-${dateString[0].padStart(2, '0')}`);

            var id = $(this).closest("tr").find("td:eq(0)").text();
            $("#editModal input[name='id']").val(id);
        });

        $(".tbl-server-info").on("click", ".bg-warning", function () {
            var id = $(this).closest("tr").find("td:eq(0)").text();
            $("#deleteModal form").attr("action", "/admin/coupon/delete/" + id);
            $("#deleteModal input[name='id']").val(id);
        });

        $(".dataTables").DataTable({
            'columnDefs': [
                {
                    'searchable': false,
                    'targets': [4] // cac truong k cho search
                },
                {
                    'orderable': false,
                    'targets': [4]
                }
            ]
        });
    });
</script>
</body>
</html>