<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>

<body class="animsition">
<h1 th:text="${'Xin chào, ' + name}"></h1>

    <div style="margin:0px;padding:0px;color:rgb(32,32,32);font-size:14px;font-weight:normal;font-family:Helvetica,Arial,sans-serif!important;line-height:150%!important">
        <div class="m_-4387865266345144637main-content" align="center">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:730px">
                <tbody><tr>
                    <td colspan="2"></td>
                    <td bgcolor="#E8E8E8" colspan="3" height="1px"></td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td bgcolor="#F8F8F8" width="1px"></td>
                    <td bgcolor="#E8E8E8" width="1px"></td>
                    <td bgcolor="#D1D1D1" width="1px"></td>
                    <td>
                        <div class="m_-4387865266345144637section">
                            <div class="m_-4387865266345144637section-header m_-4387865266345144637section-header--deliveredTo">Cảm ơn bạn đã mua hàng, dưới đây là hóa đơn của bạn</div>
                            <div class="m_-4387865266345144637section-content">

                                <table cellpadding="2" cellspacing="0" width="100%">
                                    <tbody>
                                    <tr>
                                        <td width="25%" valign="top" style="color:#0f146d;font-weight:bold">Tên:</td>
                                        <td width="75%" valign="top" th:text="${name}"></td>
                                    </tr>

                                    <tr>
                                        <td valign="top" style="color:#0f146d;font-weight:bold">Email:</td>
                                        <td valign="top"><a href="" target="_blank" th:text="${email}"></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>


                        <div class="m_-4387865266345144637section" style="padding-bottom:0px">

                            <div class="m_-4387865266345144637section-content">

                                <div class="m_-4387865266345144637section-header ">Kiện Hàng </div>

                            </div>
                        </div>

                        <br>
                        <div class="m_-4387865266345144637section" style="padding-top:0px">
                            <div class="m_-4387865266345144637section-content">
                                <div class="m_-4387865266345144637checkout">
                                    <div class="m_-4387865266345144637two_col">
                                        <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                                            <div class="m-l-25 m-r--38 m-lr-0-xl">
                                                <div class="wrap-table-shopping-cart">

                                                    <table class="table table-bordered">
                                                        <thead class="bg-white text-uppercase table_head">
                                                        <tr class="ligth ligth-data">
                                                            <th style="padding: 15px;border-bottom: 1px solid #ddd;">Image</th>
                                                            <th style="padding: 15px;border-bottom: 1px solid #ddd;">Product</th>
                                                            <th style="padding: 15px;border-bottom: 1px solid #ddd;">Price</th>
                                                            <th style="padding: 15px;border-bottom: 1px solid #ddd;">Quantity</th>
                                                            <th style="padding: 15px;border-bottom: 1px solid #ddd;">Size</th>
                                                            <th style="padding: 15px;border-bottom: 1px solid #ddd;">Color</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody class="ligth-body">
                                                        <th:block th:each="entry: ${cart}">
                                                            <tr>
                                                                <td style="text-align: center;padding: 15px;border-bottom: 1px solid #ddd;">
                                                                    <div class="d-flex align-items-center align-middle">
                                                                        <img alt="image"
                                                                             class="img-fluid rounded avatar-50 mr-3"
                                                                             style="height:80px; width:80px;object-fit: cover;"
                                                                             th:src="@{${entry.value.product.imgMain}}">

                                                                    </div>
                                                                </td>
                                                                <td style="text-align: center;padding: 15px;border-bottom: 1px solid #ddd;" class="align-middle" th:text="${entry.value.product.name}"></td>

                                                                <td style="text-align: center;padding: 15px;border-bottom: 1px solid #ddd;" class="align-middle" th:text="${entry.value.product.price} + '$'"></td>

                                                                <td style="text-align: center;padding: 15px;border-bottom: 1px solid #ddd;" class="align-middle" th:text="${entry.value.quantity}"></td>

                                                                <td style="text-align: center;padding: 15px;border-bottom: 1px solid #ddd;" class="align-middle" th:text="${entry.value.product.size}"></td>

                                                                <td style="text-align: center;padding: 15px;border-bottom: 1px solid #ddd;" class="align-middle" th:text="${entry.value.product.color}"></td>
                                                            </tr>
                                                        </th:block>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr >

                        <div class="m_6660300858623833482section" style="padding-top:0px">
                            <div class="m_6660300858623833482section-content">
                                <div class="m_6660300858623833482checkout">
                                    <div class="m_6660300858623833482two_col">
                                        <table cellpadding="0" cellspacing="0" class="m_6660300858623833482checkout-amount" style="border-bottom:1px solid #d8d8d8">
                                            <tbody>

                                            <tr>
                                                <td valign="top" style="color:#585858;width:98%">Thành tiền:</td>
                                                <td align="right" valign="top" th:text="'$' + ${totalPrice}"></td>
                                            </tr>
                                            <tr>
                                                <td valign="top" style="color:#585858">Phí vận chuyển:</td>
                                                <td align="right" valign="top">Free</td>
                                            </tr>
                                            <tr th:if = "${discount!=null}">
                                                <td valign="top" style="color:#585858">Giảm giá:</td>
                                                <td align="right" valign="top" th:text="${discount} + '%'"></td>
                                            </tr>
                                            <tr>
                                                <td valign="top" style="color:#585858">Tổng cộng:</td>
                                                <td align="right" valign="top"><div style="color:#f27c24;font-weight:bold" th:text="'$' + (${totalPriceAfterApplyCoupon != null} ? ${totalPriceAfterApplyCoupon} : ${totalPrice})"></div></td>
                                            </tr>

                                            </tbody></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m_-4387865266345144637section">

                            <div class="m_-4387865266345144637section-content">


                    <td bgcolor="#B3B3B3" width="1px"></td>
                    <td bgcolor="#D1D1D1" width="1px"></td>
                    <td bgcolor="#E8E8E8" width="1px"></td>
                    <td bgcolor="#F8F8F8" width="1px"></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td bgcolor="#B3B3B3" colspan="3" height="1px"></td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td bgcolor="#D1D1D1" colspan="3" height="1px"></td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td bgcolor="#E8E8E8" colspan="3" height="1px"></td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td bgcolor="#F8F8F8" colspan="3" height="1px"></td>
                    <td colspan="3"></td>
                </tr>
                </td>
                </tr>
                </tbody></table>
            </div>
        </div>
    </div>


</body>

</html>