<div th:replace="/admin/header :: header"></div>
<H1><b>Thêm danh mục blog</b></H1>
<form class="form-inline" th:action="@{/admin/categoriesforblog/save}" method="post">
    <div th:if="${err}">
        <p style="color : red; text-align: center" th:text="${err}"></p><br>
    </div>
    <label for="pwd" class="mr-sm-2">Type:</label>
    <input type="text"
           class="form-control mb-2 mr-sm-2" placeholder="Nhập thể loại"
           id="pwd" name="type">
    <button style="height: 38px;" type="submit" class="btn btn-primary mb-2">Submit</button>
</form>
<div th:replace="/admin/footer :: footer"></div>
