<div th:replace="/admin/header :: header"></div>
<H1><b>Thêm mục blog</b></H1>
<form class="form-inline" method="post" th:action="@{/admin/categoriesforblog/update}"
      th:object="${categoriesForBlogDTO}">
    <div th:if="${err}">
        <p style="color : red; text-align: center" th:text="${err}"></p><br>
    </div>
    <input class="form-control mb-2 mr-sm-2" name="id" th:field="*{id}" type="hidden">
    <label class="mr-sm-2" for="pwd">Type:</label>
    <input class="form-control mb-2 mr-sm-2" id="pwd"
           name="type" placeholder="Nhập thể loại"
           th:field="*{type}" type="text">
    <button class="btn btn-primary mb-2" style="height: 38px;" type="submit">Submit</button>
</form>
<div th:replace="/admin/footer :: footer"></div>
