<div th:fragment="footer">
	<!-- <------------Footer------------>
	

	<footer class="footer-48201" style="height: 420px;">

		<div class="container">
			<div class="row">
				<div class="col-md-4 pr-md-5">
					<a href="#" class="footer-site-logo d-block mb-4">Commerce</a>
					<p>Dự án đầu tiên được phát triển nhằm trau dồi kiến thức, tạo ra một website shopping với đầy đủ các chức năng, có thể ứng dụng vào trong thực tế.</p>
				</div>
				<div class="col-md">
					<ul class="list-unstyled nav-links">
						<li><a href="#">Home</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Portfolio</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
				<div class="col-md">
					<ul class="list-unstyled nav-links">
						<li><a href="#">Clients</a></li>
						<li><a href="#">Team</a></li>
						<li><a href="#">Career</a></li>
						<li><a href="#">Testimonials</a></li>
						<li><a href="#">Journal</a></li>
					</ul>
				</div>
				<div class="col-md">
					<ul class="list-unstyled nav-links">
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Terms &amp; Conditions</a></li>
						<li><a href="#">Partners</a></li>
					</ul>
				</div>
				<div class="col-md text-md-center">
					<ul class="social list-unstyled">
						<li><a href="#"><span class="icon-instagram"></span></a></li>
						<li><a href="#"><span class="icon-twitter"></span></a></li>
						<li><a href="https://www.facebook.com/sao.choi.568847"><span class="icon-facebook"></span></a></li>
						<li><a href="#"><span class="icon-pinterest"></span></a></li>
						<li><a href="#"><span class="icon-dribbble"></span></a></li>
					</ul>
					<p class="">
						<a href="#" class="btn btn-tertiary">Contact Us</a>
					</p>
				</div>
			</div>

			<div class="row ">
				<div class="col-12 text-center">
					<div class="copyright mt-5 pt-5">
						<p>
							<small>&copy; 2020-2021 Design by <a href = "https://www.facebook.com/sao.choi.568847">Ngọc Bách Nguyễn</a>.</small>
						</p>
					</div>
				</div>
			</div>
		</div>

		<script th:src="@{/admin/js/jquery.min.js}"></script>
		<script th:src="@{/admin/js/popper.min.js}"></script>
		<script th:src="@{/admin/js/bootstrap.min.js}"></script>
		<script th:src="@{/admin/js/main.js}"></script>

	</footer>