<!DOCTYPE html>
<html lang="en">
<head th:fragment="header">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Admin</title>

    <!-- Favicon -->
    <link rel="icon" th:href="@{/images/icons/favicon.png}" type="image/png"/>
    <link rel="icon" th:href="@{/admin/assets/images/icons/favicon.png}" type="image/png"/>
    <link rel="stylesheet" th:href="@{/admin/assets/css/backend-plugin.min.css}">
    <link rel="stylesheet" th:href="@{/admin/assets/css/backend.css?v=1.0.0}">
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/remixicon/fonts/remixicon.css}">

    <style>
        .icon-button__badge {
            position: absolute;
            top: 15px;
            right: 15px;
            width: 10px;
            height: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            left: 30px;
        }
    </style>
</head>
<body>
<!-- loader Start -->
<div id="loading" th:fragment="loading">
    <div id="loading-center"></div>
</div>
<!-- loader END -->

<!-- Wrapper Start -->
<div class="wrapper" th:fragment="wrapper">
    <div class="iq-sidebar  sidebar-default " th:fragment="sidebar">
        <div class="iq-sidebar-logo d-flex align-items-center justify-content-between">
            <a class="logo" th:href="@{/admin}">
                <img alt="IMG-LOGO" th:src="@{/images/icons/logo.png}">
            </a>
            <div class="iq-menu-bt-sidebar ml-0">
                <i class="las la-bars wrapper-menu"></i>
            </div>
        </div>
        <div class="data-scrollbar" data-scroll="1">
            <nav class="iq-sidebar-menu">
                <ul class="iq-menu" id="iq-sidebar-toggle">
                    <li class="active">
                        <a class="svg-icon" th:href="@{/admin}">
                            <svg class="svg-icon" fill="none" height="20" id="p-dash1" stroke="currentColor"
                                 stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                                 width="20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path>
                                <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                                <line x1="12" x2="12" y1="22.08" y2="12"></line>
                            </svg>
                            <span class="ml-4">Dashboards</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a aria-expanded="false" class="collapsed" data-toggle="collapse" href="#product">
                            <svg class="svg-icon" fill="none" height="20" id="p-dash2" stroke="currentColor"
                                 stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                                 width="20" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="9" cy="21" r="1"></circle>
                                <circle cx="20" cy="21" r="1"></circle>
                                <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                            </svg>
                            <span class="ml-4">Products</span>
                            <svg class="svg-icon iq-arrow-right arrow-active" fill="none" height="20"
                                 stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                 stroke-width="2" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg">
                                <polyline points="10 15 15 20 20 15"></polyline>
                                <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                            </svg>
                        </a>
                        <ul class="iq-submenu collapse" data-parent="#iq-sidebar-toggle" id="product">
                            <li class="">
                                <a th:href="@{/admin/product}">
                                    <i class="las la-minus"></i><span>List Product</span>
                                </a>
                            </li>
                            <li class="">
                                <a th:href="@{/admin/product/add}">
                                    <i class="las la-minus"></i><span>Add Product</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class=" ">
                        <a aria-expanded="false" class="collapsed" data-toggle="collapse" href="#category">
                            <svg class="svg-icon" fill="none" height="20" id="p-dash3" stroke="currentColor"
                                 stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                                 width="20" xmlns="http://www.w3.org/2000/svg">
                                <rect height="13" rx="2" ry="2" width="13" x="9" y="9"></rect>
                                <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                            </svg>
                            <span class="ml-4">Categories</span>
                            <svg class="svg-icon iq-arrow-right arrow-active" fill="none" height="20"
                                 stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                 stroke-width="2" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg">
                                <polyline points="10 15 15 20 20 15"></polyline>
                                <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                            </svg>
                        </a>
                        <ul class="iq-submenu collapse" data-parent="#iq-sidebar-toggle" id="category">
                            <li class="">
                                <a th:href="@{/admin/categories}">
                                    <i class="las la-minus"></i><span>List Category</span>
                                </a>
                            </li>
                            <li class="">
                                <a th:href="@{/admin/categories-blog}">
                                    <i class="las la-minus"></i><span>List Category Blog</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class=" ">
                        <a aria-expanded="false" class="collapsed" data-toggle="collapse" href="#people">
                            <svg class="svg-icon" fill="none" height="20" id="p-dash8" stroke="currentColor"
                                 stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                                 width="20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                <circle cx="9" cy="7" r="4"></circle>
                                <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                            </svg>
                            <span class="ml-4">User</span>
                            <svg class="svg-icon iq-arrow-right arrow-active" fill="none" height="20"
                                 stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                 stroke-width="2" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg">
                                <polyline points="10 15 15 20 20 15"></polyline>
                                <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                            </svg>
                        </a>
                        <ul class="iq-submenu collapse" data-parent="#iq-sidebar-toggle" id="people">
                            <li class="">
                                <a th:href="@{/admin/user}">
                                    <i class="las la-minus"></i><span>List User</span>
                                </a>
                            </li>
                            <li class="">
                                <a th:href="@{/admin/user-admin}">
                                    <i class="las la-minus"></i><span>List Admin</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class=" ">
                        <a aria-expanded="false" class="collapsed" data-toggle="collapse" href="#blog">
                            <svg class="svg-icon" fill="none" height="20" id="p-dash7" stroke="currentColor"
                                 stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                                 width="20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                <polyline points="14 2 14 8 20 8"></polyline>
                                <line x1="16" x2="8" y1="13" y2="13"></line>
                                <line x1="16" x2="8" y1="17" y2="17"></line>
                                <polyline points="10 9 9 9 8 9"></polyline>
                            </svg>
                            <span class="ml-4">Blog</span>
                            <svg class="svg-icon iq-arrow-right arrow-active" fill="none" height="20"
                                 stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                 stroke-width="2" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg">
                                <polyline points="10 15 15 20 20 15"></polyline>
                                <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                            </svg>
                        </a>
                        <ul class="iq-submenu collapse" data-parent="#iq-sidebar-toggle" id="blog">
                            <li class="">
                                <a th:href="@{/admin/blog}">
                                    <i class="las la-minus"></i><span>List Blog</span>
                                </a>
                            </li>
                            <li class="">
                                <a th:href="@{/admin/blog/new}">
                                    <i class="las la-minus"></i><span>Add Blog</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class=" ">
                        <a aria-expanded="false" class="collapsed" data-toggle="collapse" href="#review">
                            <svg class="svg-icon" fill="none" height="20" id="p-dash18"
                                 stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                 stroke-width="2" viewBox="0 0 24 24" width="20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                                <polyline points="13 2 13 9 20 9"></polyline>
                            </svg>
                            <span class="ml-4">Review</span>
                            <svg class="svg-icon iq-arrow-right arrow-active" fill="none" height="20"
                                 stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                 stroke-width="2" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg">
                                <polyline points="10 15 15 20 20 15"></polyline>
                                <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                            </svg>
                        </a>
                        <ul class="iq-submenu collapse" data-parent="#iq-sidebar-toggle" id="review">
                            <li class="">
                                <a th:href="@{/admin/review}">
                                    <i class="las la-minus"></i><span>List Product Review</span>
                                </a>
                            </li>
                            <li class="">
                                <a th:href="@{/admin/review/blog}">
                                    <i class="las la-minus"></i><span>List Blog Comment</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class=" ">
                        <a aria-expanded="false" class="collapsed" data-toggle="collapse" href="#sale">
                            <svg class="svg-icon" fill="none" height="20" id="p-dash4" stroke="currentColor"
                                 stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                                 width="20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path>
                                <path d="M22 12A10 10 0 0 0 12 2v10z"></path>
                            </svg>
                            <span class="ml-4">Coupon</span>
                            <svg class="svg-icon iq-arrow-right arrow-active" fill="none" height="20"
                                 stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                 stroke-width="2" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg">
                                <polyline points="10 15 15 20 20 15"></polyline>
                                <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                            </svg>
                        </a>
                        <ul class="iq-submenu collapse" data-parent="#iq-sidebar-toggle" id="sale">
                            <li class="">
                                <a th:href="@{/admin/coupon}">
                                    <i class="las la-minus"></i><span>List Coupon</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class=" ">
                        <a aria-expanded="false" class="collapsed" data-toggle="collapse" href="#purchase">
                            <svg class="svg-icon" fill="none" height="20" id="p-dash5" stroke="currentColor"
                                 stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                                 width="20" xmlns="http://www.w3.org/2000/svg">
                                <rect height="16" rx="2" ry="2" width="22" x="1" y="4"></rect>
                                <line x1="1" x2="23" y1="10" y2="10"></line>
                            </svg>
                            <span class="ml-4">Purchases</span>
                            <svg class="svg-icon iq-arrow-right arrow-active" fill="none" height="20"
                                 stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                 stroke-width="2" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg">
                                <polyline points="10 15 15 20 20 15"></polyline>
                                <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                            </svg>
                        </a>
                        <ul class="iq-submenu collapse" data-parent="#iq-sidebar-toggle" id="purchase">
                            <li class="">
                                <a th:href="@{/admin/purchase}">
                                    <i class="las la-minus"></i><span>List Purchases</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="p-3"></div>
        </div>
    </div>
    <div class="iq-top-navbar" th:fragment="navbar">
        <div class="iq-navbar-custom">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                <div class="iq-navbar-logo d-flex align-items-center justify-content-between">
                    <i class="ri-menu-line wrapper-menu"></i>
                    <a class="logo" th:href="@{/admin}">
                        <img alt="IMG-LOGO" th:src="@{/images/icons/logo.png}">
                    </a>
                </div>
                <div class="iq-search-bar device-search"></div>
                <div class="d-flex align-items-center">
                    <button aria-controls="navbarSupportedContent" aria-label="Toggle navigation" class="navbar-toggler"
                            data-target="#navbarSupportedContent" data-toggle="collapse"
                            type="button">
                        <i class="ri-menu-3-line"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto navbar-list align-items-center">
                            <li class="nav-item nav-icon dropdown">
                                <a aria-expanded="false" aria-haspopup="true" class="search-toggle dropdown-toggle"
                                   data-toggle="dropdown" href="#" id="dropdownMenuButton">
                                    <svg class="feather feather-bell" fill="none" height="20" stroke="currentColor"
                                         stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                         viewBox="0 0 24 24"
                                         width="20" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                                        <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                                    </svg>
                                    <span id="notiDot"
                                          th:class="'bg-primary ' + ${noti.size() > 0 ? 'icon-button__badge' : ''}"></span>
                                </a>
                                <div aria-labelledby="dropdownMenuButton" class="iq-sub-dropdown dropdown-menu">
                                    <div class="card shadow-none m-0">
                                        <div class="card-body p-0 ">
                                            <div class="cust-title p-3">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <h5 class="mb-0">Notifications</h5>
                                                    <a class="badge badge-primary badge-card" href="#" id="notiSize"
                                                       th:text="${noti.size()}"></a>
                                                </div>
                                            </div>
                                            <div class="px-3 pt-0 pb-0 sub-card" id="notiList">
                                                <div th:each="n: ${noti}">
                                                    <a class="iq-sub-card" onclick="removeNotification(this)"
                                                       th:attr="data-notification-id=${n.id}"
                                                       th:href="@{'/admin/view-noti/'+${n.id}}">
                                                        <div class="media align-items-center cust-card py-3 border-bottom">
                                                            <div class="">
                                                                <img alt="01"
                                                                     class="avatar-50 rounded-small"
                                                                     th:src="@{${n.fromUserDTO.avatar}}">
                                                            </div>
                                                            <div class="media-body ml-3">
                                                                <div class="d-flex align-items-center justify-content-between">
                                                                    <h6 class="mb-0"
                                                                        th:text="${n.fromUserDTO.name}"></h6>
                                                                    <small class="text-dark"><b
                                                                            th:text="${#temporals.format(n.createdAt, 'HH:mm')}">12
                                                                        : 47 pm</b></small>
                                                                </div>
                                                                <small class="mb-0" th:text="${n.message}"></small>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <a class="right-ic btn btn-primary btn-block position-relative p-2"
                                               role="button"
                                               th:href="@{/admin/view-all}">
                                                View All
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item nav-icon dropdown caption-content">
                                <a aria-expanded="false" aria-haspopup="true"
                                   class="search-toggle dropdown-toggle"
                                   data-toggle="dropdown" id="dropdownMenuButton4" th:href="@{/member/user}">
                                    <img alt="user" class="img-fluid rounded"
                                         th:src="@{${user.avatar}}">
                                </a>

                                <div aria-labelledby="dropdownMenuButton" class="iq-sub-dropdown dropdown-menu">
                                    <div class="card shadow-none m-0">
                                        <div class="card-body p-0 text-center">
                                            <div class="media-body profile-detail text-center">
                                                <img alt="profile-bg" class="rounded-top img-fluid mb-4"
                                                     src="/admin/assets/images/page-img/profile-bg.jpg">
                                                <img alt="profile-img" class="rounded profile-img img-fluid avatar-70"
                                                     th:src="@{${user.avatar}}">
                                            </div>
                                            <div class="p-3">
                                                <h5 class="mb-1" th:text="${user.name}"></h5>
                                                <p class="mb-0" th:text="${user.mail}">/p>
                                                <div class="d-flex align-items-center justify-content-center mt-3">
                                                    <a class="btn border mr-2"
                                                       href="../app/user-profile.html">Profile</a>
                                                    <a class="btn border" href="auth-sign-in.html">Sign Out</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div aria-hidden="true" class="modal fade" id="new-order" role="dialog" tabindex="-1" th:fragment="new-order">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="popup text-left">
                        <h4 class="mb-3">New Order</h4>
                        <div class="content create-workform bg-body">
                            <div class="pb-3">
                                <label class="mb-2">Email</label>
                                <input class="form-control" placeholder="Enter Name or Email" type="text">
                            </div>
                            <div class="col-lg-12 mt-4">
                                <div class="d-flex flex-wrap align-items-ceter justify-content-center">
                                    <div class="btn btn-primary mr-4" data-dismiss="modal">Cancel</div>
                                    <div class="btn btn-outline-primary" data-dismiss="modal">Create</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card card-transparent card-block card-stretch card-height border-none">
                        <div class="card-body p-0 mt-lg-2 mt-0">
                            <h3 class="mb-3">Hi [[${user.name}]]</h3>
                            <p class="mb-0 mr-4">Your dashboard gives you views of key performance or business
                                process.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="card card-block card-stretch card-height">
                                <div class="card-body">
                                    <div class="d-flex align-items-center mb-4 card-total-sale">
                                        <div class="icon iq-icon-box-2 bg-info-light">
                                            <img alt="image" class="img-fluid" src="/admin/assets/images/product/1.png">
                                        </div>
                                        <div>
                                            <p class="mb-2">Wait Confirm</p>
                                            <h4 th:text="${countUnconfirmedBills}"></h4>
                                        </div>
                                    </div>
                                    <div class="iq-progress-bar mt-2">
                                      <span class="bg-info iq-progress progress-1" data-percent="85">
                                      </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="card card-block card-stretch card-height">
                                <div class="card-body">
                                    <div class="d-flex align-items-center mb-4 card-total-sale">
                                        <div class="icon iq-icon-box-2 bg-danger-light">
                                            <img alt="image" class="img-fluid" src="/admin/assets/images/product/2.png">
                                        </div>
                                        <div>
                                            <p class="mb-2">Total Cost</p>
                                            <h4 th:text="${'$ '+ sumPrice}">$ 4598</h4>
                                        </div>
                                    </div>
                                    <div class="iq-progress-bar mt-2">
                                      <span class="bg-danger iq-progress progress-1" data-percent="70">
                                      </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="card card-block card-stretch card-height">
                                <div class="card-body">
                                    <div class="d-flex align-items-center mb-4 card-total-sale">
                                        <div class="icon iq-icon-box-2 bg-success-light">
                                            <img alt="image" class="img-fluid" src="/admin/assets/images/product/3.png">
                                        </div>
                                        <div>
                                            <p class="mb-2">Product Sold</p>
                                            <h4 th:text="${sumTotalCart}"></h4>
                                        </div>
                                    </div>
                                    <div class="iq-progress-bar mt-2">
                                      <span class="bg-success iq-progress progress-1" data-percent="75">
                                      </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card card-block card-stretch card-height">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Cost</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <!--                            <div id="layout1-chart1"></div>-->
                            <div id="revenueChart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card card-block card-stretch card-height">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Order</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <!--                            <div id="layout1-chart-2" style="min-height: 360px;"></div>-->
                            <div id="orderChart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card card-block card-stretch card-height">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Top 10 best-selling products</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled row top-product mb-0">
                                <li class="col-lg-3" th:each="products: ${topBestSeller}">
                                    <div class="card card-block card-stretch card-height mb-0">
                                        <div class="card-body">
                                            <div class="rounded">
                                                <img alt="image"
                                                     class="style-img img-fluid m-auto p-3"
                                                     style="width: 192px; height: 192px; object-fit: contain"
                                                     th:src="@{${products.getKey().imgMain}}">
                                            </div>
                                            <div class="style-text text-left mt-3">
                                                <h5 class="mb-1"
                                                    th:text="${products.getKey().name + ': ' + products.getValue()}"></h5>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-block card-stretch card-height-helf">
                        <div class="card-body">
                            <div class="d-flex align-items-top justify-content-between">
                                <div class="">
                                    <p class="mb-0">Income</p>
                                    <h5>$ 98,7800 K</h5>
                                </div>
                                <div class="card-header-toolbar d-flex align-items-center">
                                    <div class="dropdown">
                                      <span class="dropdown-toggle dropdown-bg btn" data-toggle="dropdown"
                                            id="dropdownMenuButton003">
                                          This Month<i class="ri-arrow-down-s-line ml-1"></i>
                                      </span>
                                        <div aria-labelledby="dropdownMenuButton003"
                                             class="dropdown-menu dropdown-menu-right shadow-none">
                                            <a class="dropdown-item" href="#">Year</a>
                                            <a class="dropdown-item" href="#">Month</a>
                                            <a class="dropdown-item" href="#">Week</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layout-chart-1" id="layout1-chart-3"></div>
                        </div>
                    </div>
                    <div class="card card-block card-stretch card-height-helf">
                        <div class="card-body">
                            <div class="d-flex align-items-top justify-content-between">
                                <div class="">
                                    <p class="mb-0">Expenses</p>
                                    <h5>$ 45,8956 K</h5>
                                </div>
                                <div class="card-header-toolbar d-flex align-items-center">
                                    <div class="dropdown">
                                      <span class="dropdown-toggle dropdown-bg btn" data-toggle="dropdown"
                                            id="dropdownMenuButton004">
                                          This Month<i class="ri-arrow-down-s-line ml-1"></i>
                                      </span>
                                        <div aria-labelledby="dropdownMenuButton004"
                                             class="dropdown-menu dropdown-menu-right shadow-none">
                                            <a class="dropdown-item" href="#">Year</a>
                                            <a class="dropdown-item" href="#">Month</a>
                                            <a class="dropdown-item" href="#">Week</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layout-chart-2" id="layout1-chart-4"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card card-block card-stretch card-height">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Order Summary</h4>
                            </div>
                            <div class="card-header-toolbar d-flex align-items-center">
                                <div class="dropdown">
                                  <span class="dropdown-toggle dropdown-bg btn" data-toggle="dropdown"
                                        id="dropdownMenuButton005">
                                      This Month<i class="ri-arrow-down-s-line ml-1"></i>
                                  </span>
                                    <div aria-labelledby="dropdownMenuButton005"
                                         class="dropdown-menu dropdown-menu-right shadow-none">
                                        <a class="dropdown-item" href="#">Year</a>
                                        <a class="dropdown-item" href="#">Month</a>
                                        <a class="dropdown-item" href="#">Week</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex flex-wrap align-items-center mt-2">
                                <div class="d-flex align-items-center progress-order-left">
                                    <div class="progress progress-round m-0 orange conversation-bar" data-percent="46">
                                      <span class="progress-left">
                                          <span class="progress-bar"></span>
                                      </span>
                                        <span class="progress-right">
                                          <span class="progress-bar"></span>
                                      </span>
                                        <div class="progress-value text-secondary">46%</div>
                                    </div>
                                    <div class="progress-value ml-3 pr-5 border-right">
                                        <h5>$12,6598</h5>
                                        <p class="mb-0">Average Orders</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center ml-5 progress-order-right">
                                    <div class="progress progress-round m-0 primary conversation-bar" data-percent="46">
                                      <span class="progress-left">
                                          <span class="progress-bar"></span>
                                      </span>
                                        <span class="progress-right">
                                          <span class="progress-bar"></span>
                                      </span>
                                        <div class="progress-value text-primary">46%</div>
                                    </div>
                                    <div class="progress-value ml-3">
                                        <h5>$59,8478</h5>
                                        <p class="mb-0">Top Orders</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div id="layout1-chart-5"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page end  -->
        </div>
    </div>
</div>
<!-- Wrapper End-->


<!-- Footer Start -->
<footer class="iq-footer" th:fragment="footer">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item"><a href="#">A34732</a>
                            </li>
                            <li class="list-inline-item"><a href="#">Nguyễn Minh An</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 text-right">
                        <span class="mr-1"><script>document.write(new Date().getFullYear())</script>©</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->

<!-- Script Start -->
<div th:fragment="script">
    <!-- Backend Bundle JavaScript -->
    <script src="/admin/assets/js/backend-bundle.min.js"></script>

    <!-- Table Treeview JavaScript -->
    <script src="/admin/assets/js/table-treeview.js"></script>

    <!-- Chart Custom JavaScript -->
    <script src="/admin/assets/js/customizer.js"></script>

    <!-- Chart Custom JavaScript -->
    <script async src="/admin/assets/js/chart-custom.js"></script>

    <!-- app JavaScript -->
    <script src="/admin/assets/js/app.js"></script>

    <!--    web socket-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <script type="text/javascript">
        var socket = new SockJS('/notification-ws');
        var stompClient = Stomp.over(socket);

        stompClient.connect({}, function (frame) {
            stompClient.subscribe('/notification', function (result) {
                var n = JSON.parse(result.body);
                var fragment = document.createRange().createContextualFragment(`
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <button type="button" class="close mr-auto" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                       New order
                    </div>
                `);
                console.log(fragment)
                let contentPage = document.querySelector('.content-page');
                contentPage.insertBefore(fragment, contentPage.firstChild);

                document.querySelector("#notiDot").classList.add("icon-button__badge");

                let notiSize = document.querySelector("#notiSize");
                notiSize.innerHTML = parseInt(notiSize.innerHTML) + 1;

                var createdAt = new Date(n.createdAt);
                document.addEventListener('DOMContentLoaded', function () {
                    // Đoạn mã JavaScript của bạn
                });

                document.querySelector("#notiList").insertAdjacentHTML('afterbegin',
                    `<a class="iq-sub-card" onclick="removeNotification(this)"
                       attr="data-notification-id=${n.id}"
                       href="/admin/view-noti/${n.id}">
                        <div class="media align-items-center cust-card py-3 border-bottom">
                            <div class="">
                                <img alt="01" class="avatar-50 rounded-small" src="${n.fromUserDTO.avatar}">
                            </div>
                            <div class="media-body ml-3">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h6 class="mb-0"">${n.fromUserDTO.name}</h6>
                                    <small class="text-dark"><b>${createdAt.getHours() + ':' + ('0' + createdAt.getMinutes()).slice(-2)}</b></small>
                                </div>
                                <small class="mb-0">${n.message}</small>
                            </div>
                        </div>
                    </a>
                `);


                window.setTimeout(function () {
                    var alert = contentPage.querySelector('.alert');
                    if (alert) {
                        alert.remove();
                    }
                }, 5000);
            });
        });
    </script>

    <!--    ajax-->
    <script>
        function removeNotification(element) {
            var notificationId = element.getAttribute('data-notification-id');
            console.log(notificationId)
            // Gửi yêu cầu AJAX để xoá dữ liệu
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/view-noti/' + notificationId, true);
            xhr.onload = function () {
                if (xhr.status === 200) {
                    // Xoá phần tử HTML tương ứng
                    element.closest('.sub-card').remove();
                }
            };
            xhr.send();
        }
    </script>

    <script th:inline="javascript">
        function apexChartUpdate(chart, detail) {
            let color = getComputedStyle(document.documentElement).getPropertyValue('--dark');
            if (detail.dark) {
                color = getComputedStyle(document.documentElement).getPropertyValue('--white');
            }
            chart.updateOptions({
                chart: {
                    foreColor: color
                }
            })
        }

        if (jQuery("#revenueChart").length) {
            let revenue = [[${revenueChart}]];
            console.log("revenueChart: ", revenue)
            var options = {
                series: [{
                    name: "Revenue",
                    data: revenue
                }],
                chart: {
                    height: 450,
                    type: 'line',
                    zoom: {
                        enabled: false
                    }
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    curve: 'straight'
                },
                title: {
                    text: '$' + revenue.reduce((total, currentValue) => total + parseInt(currentValue), 0),
                    align: 'left',
                    style: {
                        fontSize: '20px', // Chỉnh kích thước tiêu đề ở đây
                        fontWeight: 'bold'
                    }
                },
                grid: {
                    row: {
                        colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                        opacity: 0.5
                    },
                },
                xaxis: {
                    categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                },
                animations: {
                    enabled: true, // Bật hiệu ứng
                    easing: 'easeinout', // Kiểu hiệu ứng
                    speed: 800, // Tốc độ hiệu ứng (ms)
                },
            };
            (chart = new ApexCharts(document.querySelector("#revenueChart"), options)).render()
            const body = document.querySelector('body')
            if (body.classList.contains('dark')) {
                apexChartUpdate(chart, {
                    dark: true
                })
            }

            document.addEventListener('ChangeColorMode', function (e) {
                apexChartUpdate(chart, e.detail)
            })
        }

        if (jQuery("#orderChart").length) {
            let monthNames = [[${monthNames}]];
            console.log("monthNames: ", monthNames)
            var options = {
                series: [{
                    name: "Order",
                    data: [[${orderChart}]]
                }],
                chart: {
                    type: 'bar',
                    height: 450
                },
                animations: {
                    enabled: true, // Bật hiệu ứng
                    easing: 'easeinout', // Kiểu hiệu ứng
                    speed: 800, // Tốc độ hiệu ứng (ms)
                },
                plotOptions: {
                    bar: {
                        horizontal: true,
                        dataLabels: {
                            position: 'top',
                        },
                    }
                },
                dataLabels: {
                    enabled: true,
                    offsetX: -6,
                    style: {
                        fontSize: '12px',
                        colors: ['#f3f3f3', 'transparent']
                    }
                },
                stroke: {
                    show: true,
                    width: 1,
                    colors: ['#f3f3f3', 'transparent']
                },
                tooltip: {
                    shared: true,
                    intersect: false
                },
                xaxis: {
                    categories: monthNames,
                }
            };

            (chart = new ApexCharts(document.querySelector("#orderChart"), options)).render()
            const body = document.querySelector('body')
            if (body.classList.contains('dark')) {
                apexChartUpdate(chart, {
                    dark: true
                })
            }

            document.addEventListener('ChangeColorMode', function (e) {
                apexChartUpdate(chart, e.detail)
            })
        }
    </script>
</div>
<!-- Script End-->

</body>
</html>