<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Quản lí sản phẩm</title>

    <!-- Latest compiled and minified CSS -->
    <link th:rel="stylesheet"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}"></link>
    <!-- jQuery library -->
    <script
            th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>

    <!-- Popper JS -->
    <script
            th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js}"></script>

    <!-- Latest compiled JavaScript -->
    <script
            th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/viewproduct.css}"></link>

</head>
<body>
<div th:replace="/admin/header :: header"></div>
<div class="container">
    <h2>Danh sách sản phẩm</h2>
    <a style="margin-bottom: 15px" class="btn btn-warning" th:href="@{/admin/product/add}">Thêm sản phẩm</a>

    <!--		<form style="margin : 5px" th:action="@{/admin/product}">-->
    <!--			<a class="btn btn-warning" th:href="@{/admin/product/new}">Thêm-->
    <!--				sản phẩm</b>-->
    <!--			</a> <input type="text" id="keyword" placeholder="Tìm kiếm"-->
    <!--				 name="keyword" th:value="${keyword}">-->
    <!--			<button type="submit" class="btn btn-primary">Tìm kiếm</button>-->

    <!--			<label>Category</label>-->
    <!--			<select name = "category" th:value="${category}">-->
    <!--				<option value="">Choose an option</option>-->
    <!--				<th:block th:each="cate: ${listCategories}">-->
    <!--					<option th:text="${cate.type}" th:value="${cate.type}"></option>-->
    <!--				</th:block>-->
    <!--			</select>-->
    <!--		</form>-->
    <table
            class="table table-bordered table-striped table-responsive-stack"
            id="tableOne">
        <thead class="thead-dark">
        <tr>
            <th>STT</th>
            <th>Image</th>
            <th>Image1</th>
            <th>Image2</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="p, iState  : ${products}">
            <tr>
                <td><span th:text="${iState.index + 1}"></span></td>
                <td><img style="width: 100px; height: 120px;"
                         th:src="@{${p.imgMain}}" alt="IMG-LOGO"></td>
                <td><img style="width: 100px; height: 120px;"
                         th:src="@{${p.imgHover}}" alt="IMG-LOGO"></td>
                <td><img style="width: 100px; height: 120px;"
                         th:src="@{${p.imgSub}}" alt="IMG-LOGO"></td>
                <td><a th:text="${p.name}"></a></td>
                <td><span th:text="'$'+ ${p.price}"></span></td>
                <td><span th:text="${categoriesService.getById(p.categoriesId).type}"></span></td>
                <td><span th:text="${p.description}"></span></td>
                <td>
                    <div class="btn-group">
                        <a th:href="@{'/admin/product/update/' + ${p.id}}" class="btn btn-success">Sửa</a> <a
                            class="btn btn-danger"
                            th:href="@{'/admin/product/delete/' + ${p.id}}">Xóa</a>
                    </div>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <!--		<nav aria-label="Page navigation example">-->
    <!--			<ul class="pagination">-->
    <!--				<li class="page-item"><a class="page-link" th:href="@{'/admin/product?page=' + ${page - 1} + '&size=5&keyword='+${keyword}}">Previous</a></li>-->
    <!--				<li class="page-item"><a th:href="@{'/admin/product?page=' + ${page} + '&size=5'}"-->
    <!--				th:text="${page}" >1</a></li>-->
    <!--				<li class="page-item"><a class="page-link" th:href="@{'/admin/product?page=' + ${page + 1} + '&size=5&keyword='+${keyword}}+ '&category=' + ${category}">Next</a></li>-->
    <!--			</ul>-->
    <!--		</nav>-->
</div>
<div th:replace="/admin/footer :: footer"></div>

<script th:src="@{/js/person.js}"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $("#tableOne").DataTable({
            lengthMenu: [5, 10, 20, 30], // show entries
            'columnDefs': [
                {
                    'searchable': false,
                    'targets': [0, 1, 2, 3, 5, 6, 8] // cac truong k cho search
                    // see https://datatables.net/reference/option/columns.searchable
                },
                {
                    'orderable': false,
                    'targets': [1, 2, 3, 4, 7, 8] // cac truong k cho filter
                },
            ]
        });
    });
</script>
</body>
</html>