<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blog</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!--===============================================================================================-->
    <link href="images/icons/favicon.png" rel="icon" type="image/png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{vendor/bootstrap/css/bootstrap.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{fonts/font-awesome-4.7.0/css/font-awesome.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{fonts/iconic/css/material-design-iconic-font.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{fonts/linearicons-v1.0.0/icon-font.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/animate/animate.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/animsition/css/animsition.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/select2/select2.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/css/util.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
    <!--===============================================================================================-->
</head>
<body class="animsition">

<div th:replace="header :: header"></div>

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-02.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        Blog
    </h2>

</section>
<!-- Content page -->
<section class="bg0 p-t-62 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9 p-b-80">
                <div class="p-r-45 p-r-0-lg">
                    <!-- item blog -->
                    <th:block th:each="blog : ${blog}">
                        <div class="p-b-63">
                            <a class="hov-img0 how-pos5-parent" th:href="@{'/blog-detail?id=' + ${blog.id}}">
                                <img alt="IMG-BLOG" th:src="@{${blog.image}}">

                                <div class="flex-col-c-m size-123 bg9 how-pos5">
										<span class="ltext-107 cl2 txt-center" th:text="${blog.createdDay}">
										</span>

                                    <span class="stext-109 cl3 txt-center" th:text="${blog.createdMonth}">
										</span>
                                </div>
                            </a>

                            <div class="p-t-32">
                                <h4 class="p-b-15">
                                    <a class="ltext-108 cl2 hov-cl1 trans-04"
                                       th:href="@{'/blog-detail?id=' + ${blog.id}}" th:text="${blog.title}">
                                        8 Inspiring Ways to Wear Dresses in the Winter
                                    </a>
                                </h4>

                                <p class="stext-117 cl6" th:text="${blog.content}">
                                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                                    himenaeos. Fusce eget dictum tortor. Donec dictum vitae sapien eu varius
                                </p>

                                <div class="flex-w flex-sb-m p-t-18">
										<span class="flex-w flex-m stext-111 cl2 p-r-30 m-tb-10">
											<span>
												<span class="cl4">By</span> Admin  
												<span class="cl12 m-l-4 m-r-6">|</span>
											</span>
	
											<span th:each="blogDTO : ${blog.tags}" th:text="${blogDTO.type} + ' | '">
												StreetStyle, Fashion, Couple  
											<span class="cl12 m-l-4 m-r-6">|</span>
											</span>

                                            <!-- <span>
                                                8 Comments
                                            </span> -->
			
										</span>

                                    <a class="stext-101 cl2 hov-cl1 trans-04 m-tb-10"
                                       th:href="@{'blog-detail?id=' + ${blog.id}}">
                                        Continue Reading

                                        <i class="fa fa-long-arrow-right m-l-9"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </th:block>

                    <!-- Pagination -->
                    <div class="flex-l-m flex-w w-full p-t-10 m-lr--7">
                        <th:block th:each="num,State : ${#numbers.sequence(1,pageTotal)}">
                            <a th:class="${page ==num} ? 'flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1' : 'flex-c-m how-pagination1 trans-04 m-all-7' "
                               th:href="@{'/blog?page=' + ${num} +'&size=4&keyword=' + ${keyword}} + '&month=' + ${month} + '&category=' + ${category} + '&tag=' + ${tag}">
                                <span th:text="${num}"></span>
                            </a>
                        </th:block>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-3 p-b-80">
                <div class="side-menu">
                    <form th:action="@{/blog}">
                        <div class="bor17 of-hidden pos-relative">
                            <input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" name="keyword" placeholder="Search"
                                   th:value="${keyword}" type="text">

                            <button class="flex-c-m size-122 ab-t-r fs-18 cl4 hov-cl1 trans-04">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </div>
                    </form>

                    <div class="p-t-55">
                        <h4 class="mtext-112 cl2 p-b-33">
                            Categories
                        </h4>

                        <ul>
                            <li class="bor18">
                                <a class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4"
                                   th:href="@{/blog}">All</a>
                            </li>
                            <th:block th:each="categoryForBlog : ${categoryForBlog}">
                                <li class="bor18">
                                    <a class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4"
                                       th:href="@{'/blog?category=' + ${categoryForBlog.type}}"
                                       th:text="${categoryForBlog.type}">
                                        Fashion
                                    </a>
                                </li>
                            </th:block>
                        </ul>
                    </div>

                    <div class="p-t-65">
                        <h4 class="mtext-112 cl2 p-b-33">
                            Featured Products
                        </h4>

                        <ul>
                            <th:block th:each="p : ${products}">
                                <li class="flex-w flex-t p-b-30">
                                    <a class="wrao-pic-w size-214 hov-ovelay1 m-r-20"
                                       th:href="@{'/product-detail?id=' + ${p.id}}">
                                        <img alt="PRODUCT" style="width: 100px" th:src="@{${p.imgMain}}">
                                    </a>

                                    <div class="size-215 flex-col-t p-t-8">
                                        <a class="stext-116 cl8 hov-cl1 trans-04"
                                           th:href="@{'/product-detail?id=' + ${p.id}}" th:text="${p.name}">
                                            White Shirt With Pleat Detail Back
                                        </a>

                                        <span class="stext-116 cl6 p-t-20" th:text="'$' + ${p.price}">
											$19.00
										</span>
                                    </div>
                                </li>
                            </th:block>
                        </ul>
                    </div>

                    <div class="p-t-55">
                        <h4 class="mtext-112 cl2 p-b-20">
                            Archive
                        </h4>

                        <ul>
                            <li class="p-b-7">

                                <a class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2"
                                   th:href="@{'/blog?page=0' +'&size=4&keyword=' + ${keyword}} + '&month=&category=' + ${category}">
										<span>
											All
										</span>
                                </a>
                            </li>

                            <li class="p-b-7">
                                <a class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2"
                                   th:href="@{'/blog?page=0' +'&size=4&keyword=' + ${keyword}} + '&month=January&category=' + ${category}">
										<span>
											January
										</span>
                                </a>
                            </li>

                            <li class="p-b-7">
                                <a class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2"
                                   th:href="@{'/blog?page=0' +'&size=4&keyword=' + ${keyword}} + '&month=February&category=' + ${category}">
										<span>
											February
										</span>
                                </a>
                            </li>

                            <li class="p-b-7">
                                <a class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2"
                                   th:href="@{'/blog?page=0' +'&size=4&keyword=' + ${keyword}} + '&month=March&category=' + ${category}">
										<span>
											March
										</span>
                                </a>
                            </li>

                            <li class="p-b-7">
                                <a class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2"
                                   th:href="@{'/blog?page=0' +'&size=4&keyword=' + ${keyword}} + '&month=April&category=' + ${category}">
                            										<span>
                            											April
                            										</span>
                                </a>
                            </li>

                            <li class="p-b-7">
                                <a class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2"
                                   th:href="@{'/blog?page=0' +'&size=4&keyword=' + ${keyword}} + '&month=May&category=' + ${category}">
                            										<span>
                            											May
                            										</span>
                                </a>
                            </li>

                            <li class="p-b-7">
                                <a class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2"
                                   th:href="@{'/blog?page=0' +'&size=4&keyword=' + ${keyword}} + '&month=June&category=' + ${category}">
                            										<span>
                            											June
                            										</span>
                                </a>
                            </li>

                            <li class="p-b-7">
                                <a class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2"
                                   th:href="@{'/blog?page=0' +'&size=4&keyword=' + ${keyword}} + '&month=July&category=' + ${category}">
                            										<span>
                            											July
                            										</span>
                                </a>
                            </li>

                            <li class="p-b-7">
                                <a class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2"
                                   th:href="@{'/blog?page=0' +'&size=4&keyword=' + ${keyword}} + '&month=August&category=' + ${category}">
                            										<span>
                            											August
                            										</span>
                                </a>
                            </li>

                            <li class="p-b-7">
                                <a class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2"
                                   th:href="@{'/blog?page=0' +'&size=4&keyword=' + ${keyword}} + '&month=September&category=' + ${category}">
                            										<span>
                            											September
                            										</span>
                                </a>
                            </li>

                            <li class="p-b-7">
                                <a class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2"
                                   th:href="@{'/blog?page=0' +'&size=4&keyword=' + ${keyword}} + '&month=October&category=' + ${category}">
                            										<span>
                            											October
                            										</span>
                                </a>
                            </li>

                            <li class="p-b-7">
                                <a class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2"
                                   th:href="@{'/blog?page=0' +'&size=4&keyword=' + ${keyword}} + '&month=November&category=' + ${category}">
                            										<span>
                            											November
                            										</span>
                                </a>
                            </li>

                            <li class="p-b-7">
                                <a class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2"
                                   th:href="@{'/blog?page=0' +'&size=4&keyword=' + ${keyword}} + '&month=December&category=' + ${category}">
                            										<span>
                            											December
                            										</span>
                                </a>
                            </li>

                        </ul>
                    </div>

                    <div class="p-t-50">
                        <h4 class="mtext-112 cl2 p-b-27">
                            Tags
                        </h4>

                        <div class="flex-w m-r--5">
                            <th:block th:each="tags : ${tags}">
                                <a class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"
                                   th:href="@{'/blog?page=0' +'&size=4&keyword=' + ${keyword} + '&month=' + ${month} + '&category=' + ${category} + '&tag=' + ${tags.type}}"
                                   th:text="${tags.type}">
                                </a>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="footer :: footer"></div>

<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
</div>

<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<script>
    $(".js-select2").each(function () {
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next('.dropDownSelect2')
        });
    })
</script>
<!--===============================================================================================-->
<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
    $('.js-pscroll').each(function () {
        $(this).css('position', 'relative');
        $(this).css('overflow', 'hidden');
        var ps = new PerfectScrollbar(this, {
            wheelSpeed: 1,
            scrollingThreshold: 1000,
            wheelPropagation: false,
        });

        $(window).on('resize', function () {
            ps.update();
        })
    });
</script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

</body>
</html>