<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{vendor/bootstrap/css/bootstrap.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{fonts/iconic/css/material-design-iconic-font.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{fonts/linearicons-v1.0.0/icon-font.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<!--===============================================================================================-->
</head>
<body class="animsition">

	<div th:replace="header :: header"></div>

	<div th:replace="cart-mini :: cart-mini"></div>


	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a th:href="@{/home}" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<a th:href="@{/blog}" class="stext-109 cl8 hov-cl1 trans-04">
				Blog
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4" th:text="${blog.title}">
			</span>
		</div>
	</div>


	<!-- Content page -->
	<section class="bg0 p-t-52 p-b-20">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-9 p-b-80">
					<div class="p-r-45 p-r-0-lg">
						<!--  -->
						<div class="wrap-pic-w how-pos5-parent">
							<img th:src="@{${blog.image}}" alt="IMG-BLOG">

							<div class="flex-col-c-m size-123 bg9 how-pos5">
								<span class="ltext-107 cl2 txt-center" th:text="${blog.createdDay}">
								</span>

								<span class="stext-109 cl3 txt-center" th:text="${blog.createdMonth}">
								</span>
							</div>
						</div>

						<div class="p-t-32">
							<span class="flex-w flex-m stext-111 cl2 p-b-19">
								<span>
									<span class="cl4">By</span> Admin  
									<span class="cl12 m-l-4 m-r-6">|</span>
								</span>

								<span th:text=" ${blog.createdDay} + ' ' + ${blog.createdMonth} + ' | ' ">
									22 Jan, 2023
									<span class="cl12 m-l-4 m-r-6">|</span>
								</span>

								<span th:each="blogDTO : ${blog.tags}" th:text="${blogDTO.type} + ' |'">
									StreetStyle, Fashion, Couple  
									<span class="cl12 m-l-4 m-r-6">|</span>
								</span>

								<span th:text="${commentTotal} + ' Comments'">
									8 Comments
								</span>
							</span>

							<h4 class="ltext-109 cl2 p-b-28" th:text="${blog.title}">
							</h4>

							<p class="stext-117 cl6 p-b-26" id="blogContent"></p>
						</div>

						<div class="flex-w flex-t p-t-16">
							<span class="size-216 stext-116 cl8 p-t-4"  >
								Tags
							</span>

							<div class="flex-w size-217">

								<th:block th:each="tag : ${blog.tags}">
									<a th:href="@{'/blog?tag=' + ${tag.type}}" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
										[[${tag.type}]]
									</a>
								</th:block>
							</div>
						</div>

						<!-- Comment -->
						<th:block th:each="c : ${comments}">
							<br>
								<div class="flex-w flex-t p-b-16">
									<div class="wrap-pic-s size-109 bor0 of-hidden m-r-18 m-t-6">
										<img th:src="@{${userService.getById(c.reviewerId).getAvatar()}}" alt="AVATAR">
									</div>

									<div class="size-207">
										<div class="flex-w flex-sb-m p-b-17">
											<span class="mtext-107 cl2 p-r-20" th:text="${userService.getById(c.reviewerId).getName()}"></span>
										</div>

										<p class="stext-102 cl6" th:text="${c.comment}">
											Quod autem in homine praestantissimum atque optimum est, id deseruit. Apud ceteros autem philosophos
										</p>
									</div>
								</div>
							</br>
						</th:block>

						<!--  -->
						<div class="p-t-40">
							<h5 class="mtext-113 cl2 p-b-12">
								Leave a Comment
							</h5>

							<p class="stext-107 cl6 p-b-40">
								Your email address will not be published. Required fields are marked *
							</p>

							<form th:action="@{/blog-detail/review}" method="post">

								<input type="hidden" name="blogId" th:value="${blog.id}">

								<div class="bor19 m-b-20">
									<textarea class="stext-111 cl2 plh3 size-124 p-lr-18 p-tb-15" name="comment" placeholder="Comment..."></textarea>
								</div>

								<button class="flex-c-m stext-101 cl0 size-125 bg3 bor2 hov-btn3 p-lr-15 trans-04">
									Post Comment
								</button>
							</form>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-lg-3 p-b-80">
					<div class="side-menu">
						<form th:action="@{/blog}">
							<div class="bor17 of-hidden pos-relative">
								<input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" type="text" name="keyword" th:value="${keyword}" placeholder="Search">

								<button class="flex-c-m size-122 ab-t-r fs-18 cl4 hov-cl1 trans-04">
									<i class="zmdi zmdi-search"></i>
								</button>
							</div>
						</form>
						<div class="p-t-55">
							<h4 class="mtext-112 cl2 p-b-33">
								Categories
							</h4>

							<ul>
								<li class="bor18">
									<a class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4"
									   th:href="@{/blog}">All</a>
								</li>
								<th:block th:each="categoryForBlog : ${categoryForBlog}">
									<li class="bor18">
										<a class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4"
										   th:href="@{'/blog?category=' + ${categoryForBlog.type}}"
										   th:text="${categoryForBlog.type}">
											Fashion
										</a>
									</li>
								</th:block>
							</ul>
						</div>

						<div class="p-t-65">
							<h4 class="mtext-112 cl2 p-b-33">
								Featured Products
							</h4>

							<ul>
								<th:block th:each="p : ${products}">
									<li class="flex-w flex-t p-b-30">
										<a class="wrao-pic-w size-214 hov-ovelay1 m-r-20"
										   th:href="@{'/product-detail?id=' + ${p.id}}">
											<img alt="PRODUCT" style="width: 100px" th:src="@{${p.imgMain}}">
										</a>

										<div class="size-215 flex-col-t p-t-8">
											<a class="stext-116 cl8 hov-cl1 trans-04"
											   th:href="@{'/product-detail?id=' + ${p.id}}" th:text="${p.name}">
												White Shirt With Pleat Detail Back
											</a>

											<span class="stext-116 cl6 p-t-20" th:text="'$' + ${p.price}">
											$19.00
										</span>
										</div>
									</li>
								</th:block>
							</ul>
						</div>

						<div class="p-t-55">
							<h4 class="mtext-112 cl2 p-b-20">
								Archive
							</h4>

							<ul>
								<li class="p-b-7">

									<a class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2"
									   th:href="@{'/blog?page=0' +'&size=4&keyword=' + ${keyword}} + '&month=&category=' + ${category}">
										<span>
											All
										</span>
									</a>
								</li>

								<li class="p-b-7">
									<a class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2"
									   th:href="@{'/blog?page=0' +'&size=4&keyword=' + ${keyword}} + '&month=January&category=' + ${category}">
										<span>
											January
										</span>
									</a>
								</li>

								<li class="p-b-7">
									<a class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2"
									   th:href="@{'/blog?page=0' +'&size=4&keyword=' + ${keyword}} + '&month=February&category=' + ${category}">
										<span>
											February
										</span>
									</a>
								</li>

								<li class="p-b-7">
									<a class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2"
									   th:href="@{'/blog?page=0' +'&size=4&keyword=' + ${keyword}} + '&month=March&category=' + ${category}">
										<span>
											March
										</span>
									</a>
								</li>

								<li class="p-b-7">
									<a class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2"
									   th:href="@{'/blog?page=0' +'&size=4&keyword=' + ${keyword}} + '&month=April&category=' + ${category}">
                            										<span>
                            											April
                            										</span>
									</a>
								</li>

								<li class="p-b-7">
									<a class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2"
									   th:href="@{'/blog?page=0' +'&size=4&keyword=' + ${keyword}} + '&month=May&category=' + ${category}">
                            										<span>
                            											May
                            										</span>
									</a>
								</li>

								<li class="p-b-7">
									<a class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2"
									   th:href="@{'/blog?page=0' +'&size=4&keyword=' + ${keyword}} + '&month=June&category=' + ${category}">
                            										<span>
                            											June
                            										</span>
									</a>
								</li>

								<li class="p-b-7">
									<a class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2"
									   th:href="@{'/blog?page=0' +'&size=4&keyword=' + ${keyword}} + '&month=July&category=' + ${category}">
                            										<span>
                            											July
                            										</span>
									</a>
								</li>

								<li class="p-b-7">
									<a class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2"
									   th:href="@{'/blog?page=0' +'&size=4&keyword=' + ${keyword}} + '&month=August&category=' + ${category}">
                            										<span>
                            											August
                            										</span>
									</a>
								</li>

								<li class="p-b-7">
									<a class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2"
									   th:href="@{'/blog?page=0' +'&size=4&keyword=' + ${keyword}} + '&month=September&category=' + ${category}">
                            										<span>
                            											September
                            										</span>
									</a>
								</li>

								<li class="p-b-7">
									<a class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2"
									   th:href="@{'/blog?page=0' +'&size=4&keyword=' + ${keyword}} + '&month=October&category=' + ${category}">
                            										<span>
                            											October
                            										</span>
									</a>
								</li>

								<li class="p-b-7">
									<a class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2"
									   th:href="@{'/blog?page=0' +'&size=4&keyword=' + ${keyword}} + '&month=November&category=' + ${category}">
                            										<span>
                            											November
                            										</span>
									</a>
								</li>

								<li class="p-b-7">
									<a class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2"
									   th:href="@{'/blog?page=0' +'&size=4&keyword=' + ${keyword}} + '&month=December&category=' + ${category}">
                            										<span>
                            											December
                            										</span>
									</a>
								</li>

							</ul>
						</div>

						<div class="p-t-50">
							<h4 class="mtext-112 cl2 p-b-27">
								Tags
							</h4>

							<div class="flex-w m-r--5">
								<th:block th:each="tags : ${tags}">
									<a class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"
									   th:href="@{'/blog?page=0' +'&size=4&keyword=' + ${keyword} + '&month=' + ${month} + '&category=' + ${category} + '&tag=' + ${tags.type}}"
									   th:text="${tags.type}">
									</a>
								</th:block>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div th:replace="footer :: footer"></div>

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script  th:inline="javascript">
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
		document.getElementById("blogContent").innerHTML = [[${blog.content}]];
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>