<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trang chủ</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!--===============================================================================================-->
    <link rel="icon" th:href="@{/images/icons/favicon.png}" type="image/png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
          type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}"
          type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>

    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}"
          type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/fonts/linearicons-v1.0.0/icon-font.min.css}"
          type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/animate/animate.css}"
          type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}"
          type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/animsition/css/animsition.min.css}"
          type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/select2/select2.min.css}"
          type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/daterangepicker/daterangepicker.css}"
          type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/slick/slick.css}"
          type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/MagnificPopup/magnific-popup.css}"
          type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}"
          type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/css/util.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
    <!--===============================================================================================-->
    <style>

        .chat-icon {
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #007bff;
            color: #fff;
            text-align: center;
            line-height: 60px;
            cursor: pointer;
            padding-top: 25px;
            display: none;
            opacity: 0.5;
        }

        .chat-icon:hover {
            opacity: 1;
            background-color: #007bff;
        }

        @media (max-width: 575px) {
            .chat-icon {
                bottom: 60px;
                right: 15px;
            }
        }

        .chat-icon i {
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .chat-popup {
            position: fixed;
            bottom: 100px;
            right: 30px;
            max-width: 400px;
            display: none;
        }

        #chat2 .form-control {
            border-color: transparent;
        }

        #chat2 .form-control:focus {
            border-color: transparent;
            box-shadow: inset 0px 0px 0px 1px transparent;
        }

        .card-body {
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }
    </style>
</head>
<body class="animsition">

<div th:replace="header-home :: header-home"></div>

<!-- Slider -->
<section class="section-slide">
    <div class="wrap-slick1">
        <div class="slick1">
            <div class="item-slick1"
                 style="background-image: url(/images/slide-01.jpg);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false"
                             data-appear="fadeInDown" data-delay="0">
                            <span class="ltext-101 cl2 respon2"> Women Collection</span>
                        </div>

                        <div class="layer-slick1 animated visible-false"
                             data-appear="fadeInUp" data-delay="800">
                            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">NEW SEASON
                            </h2>
                        </div>

                        <div class="layer-slick1 animated visible-false"
                             data-appear="zoomIn" data-delay="1600">
                            <a class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04"
                               th:href="@{/product}">
                                Shop Now </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item-slick1"
                 style="background-image: url(/images/slide-02.jpg);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false"
                             data-appear="rollIn" data-delay="0">
                            <span class="ltext-101 cl2 respon2"> Men New-Season </span>
                        </div>

                        <div class="layer-slick1 animated visible-false"
                             data-appear="lightSpeedIn" data-delay="800">
                            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">Jackets &
                                Coats</h2>
                        </div>

                        <div class="layer-slick1 animated visible-false"
                             data-appear="slideInUp" data-delay="1600">
                            <a class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04"
                               th:href="@{/product}">
                                Shop Now </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item-slick1"
                 style="background-image: url(/images/slide-03.jpg);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false"
                             data-appear="rotateInDownLeft" data-delay="0">
								<span class="ltext-101 cl2 respon2"> Men Collection
								</span>
                        </div>

                        <div class="layer-slick1 animated visible-false"
                             data-appear="rotateInUpRight" data-delay="800">
                            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">New
                                arrivals</h2>
                        </div>

                        <div class="layer-slick1 animated visible-false"
                             data-appear="rotateIn" data-delay="1600">
                            <a class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04"
                               th:href="@{/product}">
                                Shop Now </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Banner -->
<div class="sec-banner bg0 p-t-80 p-b-50">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img alt="IMG-BANNER" src="images/banner-01.jpg">
                    <a class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3 aPolo" href="#0">
                        <div class="block1-txt-child1 flex-col-l">
                            <span class="block1-name ltext-102 trans-04 p-b-8"> Polo</span>
                        </div>
                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">Shop Now</div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img alt="IMG-BANNER" src="images/banner-02.jpg">
                    <a class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3 aTShirt"
                       href="#1">
                        <div class="block1-txt-child1 flex-col-l">
                            <span class="block1-name ltext-102 trans-04 p-b-8"> T-Shirt </span>
                        </div>

                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">Shop Now</div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img alt="IMG-BANNER" src="images/banner-03.jpg">
                    <a
                            class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3 aBag"
                            href="#2">
                        <div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Bag </span>
                        </div>

                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">Shop Now</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Product -->
<section class="bg0 p-t-23 p-b-140">
    <div class="container">
        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <button
                        class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1"
                        data-filter="*">All Products
                </button>
                <th:block th:each="cate,iter : ${cate}">
                    <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
                            th:data-filter="'.'+ ${cate.type}"
                            th:id="${iter.index}">
                        <span th:text="${cate.type}"></span>
                    </button>
                </th:block>
            </div>

            <div class="flex-w flex-c-m m-tb-10">
                <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                    <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                    <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Filter
                </div>

                <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                    <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                    <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Search
                </div>
            </div>
            <form th:action="@{/product}">
                <!-- Search product -->
                <div class="dis-none panel-search w-full p-t-10 p-b-15">
                    <div class="bor8 dis-flex p-l-15">
                        <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04" type="submit">
                            <i class="zmdi zmdi-search"></i>
                        </button>

                        <input class="mtext-107 cl2 size-114 plh2 p-r-15" name="keyword" placeholder="Search"
                               th:value="${keyword}" type="text">
                    </div>
                </div>
            </form>
            <!-- Filter -->
            <div class="dis-none panel-filter w-full p-t-10">
                <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
                    <div class="filter-col1 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Sort By
                        </div>

                        <ul>
                            <li class="p-b-6">
                                <a class="filter-link stext-106 trans-04" th:href="@{/product}">
                                    Default
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a class="filter-link stext-106 trans-04" href="#">
                                    Popularity
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a class="filter-link stext-106 trans-04" href="#">
                                    Average rating
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a class="filter-link stext-106 trans-04 filter-link-active" href="#">
                                    Newness
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a class="filter-link stext-106 trans-04" th:href="@{/product?lowtohigh=true}">
                                    Price: Low to High
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a class="filter-link stext-106 trans-04" th:href="@{/product?lowtohigh=false}">
                                    Price: High to Low
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="filter-col2 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Price
                        </div>

                        <ul>
                            <li class="p-b-6">
                                <a class="filter-link stext-106 trans-04 filter-link-active" th:href="@{/product}">
                                    All
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a class="filter-link stext-106 trans-04"
                                   th:href="@{'/product?keyword=' + ${keyword} + '&page=' + ${page + 1} + '&priceStart=0&priceEnd=50'}">
                                    $0.00 - $50.00
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a class="filter-link stext-106 trans-04"
                                   th:href="@{'/product?keyword=' + ${keyword} + '&page=' + ${page + 1} + '&priceStart=50&priceEnd=100'}">
                                    $50.00 - $100.00
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a class="filter-link stext-106 trans-04"
                                   th:href="@{'/product?keyword=' + ${keyword} + '&page=' + ${page + 1} + '&priceStart=100&priceEnd=150'}">
                                    $100.00 - $150.00
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a class="filter-link stext-106 trans-04"
                                   th:href="@{'/product?keyword=' + ${keyword} + '&page=' + ${page + 1} + '&priceStart=150&priceEnd=200'}">
                                    $150.00 - $200.00
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a class="filter-link stext-106 trans-04"
                                   th:href="@{'/product?keyword=' + ${keyword} + '&page=' + ${page + 1} + '&priceStart=200&priceEnd='}">
                                    $200.00+
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="filter-col3 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Color
                        </div>

                        <ul>
                            <li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #222;">
										<i class="zmdi zmdi-circle"></i>
									</span>

                                <a class="filter-link stext-106 trans-04" href="#">
                                    Black
                                </a>
                            </li>

                            <li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #4272d7;">
										<i class="zmdi zmdi-circle"></i>
									</span>

                                <a class="filter-link stext-106 trans-04 filter-link-active" href="#">
                                    Blue
                                </a>
                            </li>

                            <li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #b3b3b3;">
										<i class="zmdi zmdi-circle"></i>
									</span>

                                <a class="filter-link stext-106 trans-04" href="#">
                                    Grey
                                </a>
                            </li>

                            <li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #00ad5f;">
										<i class="zmdi zmdi-circle"></i>
									</span>

                                <a class="filter-link stext-106 trans-04" href="#">
                                    Green
                                </a>
                            </li>

                            <li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #fa4251;">
										<i class="zmdi zmdi-circle"></i>
									</span>

                                <a class="filter-link stext-106 trans-04" href="#">
                                    Red
                                </a>
                            </li>

                            <li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #aaa;">
										<i class="zmdi zmdi-circle-o"></i>
									</span>

                                <a class="filter-link stext-106 trans-04" href="#">
                                    White
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="filter-col4 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Tags
                        </div>

                        <div class="flex-w p-t-4 m-r--5">
                            <a class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"
                               href="#">
                                Fashion
                            </a>

                            <a class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"
                               href="#">
                                Lifestyle
                            </a>

                            <a class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"
                               href="#">
                                Denim
                            </a>

                            <a class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"
                               href="#">
                                Streetstyle
                            </a>

                            <a class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"
                               href="#">
                                Crafts
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row isotope-grid">
            <th:block th:each="p : ${products}">
                <div th:class="'col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item ' + ${p.categories.type}">
                    <!-- Block2 -->
                    <div class="block2">
                        <div class="block2-pic hov-img0">
                            <a th:href="@{'/product-detail?id=' + ${p.id}}">
                                <img alt="IMG-PRODUCT" th:src="@{${p.imgMain}}"/>
                                <a class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04"
                                   th:href="@{'/product-detail?id=' + ${p.id}}">
                                    View Detail </a>
                            </a>
                        </div>

                        <div class="block2-txt flex-w flex-t p-t-14">
                            <div class="block2-txt-child1 flex-col-l ">
                                <a class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
                                   th:href="@{'/product-detail?id=' + ${p.id}}"
                                   th:text="${p.name}"> Esprit Ruffle Shirt </a> <span
                                    class="stext-105 cl3" th:text="'$' + ${p.price}">
										$16.64 </span>
                            </div>

                            <div class="block2-txt-child2 flex-r p-t-3">
                                <a class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"
                                   href="#">
                                    <img alt="ICON"
                                         class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png">
                                    <img
                                            alt="ICON"
                                            class="icon-heart2 dis-block trans-04 ab-t-l"
                                            src="images/icons/icon-heart-02.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>

        <!-- Load more -->
        <div class="flex-c-m flex-w w-full p-t-45">
            <a class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04"
               id="load"
               th:href="@{'/product?keyword=' + ${keyword} + '&page=' + ${page + 1}+ '&priceStart=' + ${priceStart } + '&priceEnd=' + ${priceEnd }}">
                Load More
            </a>
        </div>
    </div>
</section>

<div th:replace="footer :: footer"></div>

<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top"> <i
                class="zmdi zmdi-chevron-up"></i>
		</span>
</div>

<!--Chat bot-->
<div>
    <div class="chat-icon" onclick="toggleChatPopup()">
        <i class="fa-regular fa-comment fa-flip-horizontal fa-xl"></i>
    </div>
    <div class="chat-popup" id="chatPopup" style="display: none;">
        <div class="row d-flex justify-content-center">
            <div class="card" id="chat2">
                <div>
                    <div class="card-header d-flex justify-content-between align-items-center p-3">
                        <h5 class="mb-0">Chat</h5>
                    </div>
                    <div class="card-body" data-mdb-perfect-scrollbar="true"
                         style="position: relative; height: 400px">

                        <div class="d-flex flex-row justify-content-start">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                 alt="avatar 1" style="width: 45px; height: 100%;">
                            <div>
                                <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Hi</p>
                                <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">How are
                                    you ...???
                                </p>
                                <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">What are
                                    you doing
                                    tomorrow? Can we come up a bar?</p>
                                <p class="small ms-3 mb-3 rounded-3 text-muted">23:58</p>
                            </div>
                        </div>

                        <div class="divider d-flex align-items-center mb-4">
                            <p class="text-center mx-3 mb-0" style="color: #a2aab7;">Today</p>
                        </div>

                        <div class="d-flex flex-row justify-content-end mb-4 pt-1">
                            <div>
                                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Hiii, I'm good.</p>
                                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">How are you
                                    doing?</p>
                                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Long time no see!
                                    Tomorrow
                                    office. will
                                    be free on sunday.</p>
                                <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:06</p>
                            </div>
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
                                 alt="avatar 1" style="width: 45px; height: 100%;">
                        </div>

                        <div class="d-flex flex-row justify-content-start mb-4">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                 alt="avatar 1" style="width: 45px; height: 100%;">
                            <div>
                                <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Okay</p>
                                <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">We will
                                    go on
                                    Sunday?</p>
                                <p class="small ms-3 mb-3 rounded-3 text-muted">00:07</p>
                            </div>
                        </div>

                        <div class="d-flex flex-row justify-content-end mb-4">
                            <div>
                                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">That's awesome!</p>
                                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">I will meet you
                                    Sandon Square
                                    sharp at
                                    10 AM</p>
                                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Is that okay?</p>
                                <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:09</p>
                            </div>
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
                                 alt="avatar 1" style="width: 45px; height: 100%;">
                        </div>

                        <div class="d-flex flex-row justify-content-start mb-4">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                 alt="avatar 1" style="width: 45px; height: 100%;">
                            <div>
                                <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Okay i
                                    will meet
                                    you on
                                    Sandon Square</p>
                                <p class="small ms-3 mb-3 rounded-3 text-muted">00:11</p>
                            </div>
                        </div>

                        <div class="d-flex flex-row justify-content-end mb-4">
                            <div>
                                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Do you have pictures
                                    of Matley
                                    Marriage?</p>
                                <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:11</p>
                            </div>
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
                                 alt="avatar 1" style="width: 45px; height: 100%;">
                        </div>

                        <div class="d-flex flex-row justify-content-start mb-4">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                 alt="avatar 1" style="width: 45px; height: 100%;">
                            <div>
                                <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Sorry I
                                    don't
                                    have. i
                                    changed my phone.</p>
                                <p class="small ms-3 mb-3 rounded-3 text-muted">00:13</p>
                            </div>
                        </div>

                        <div class="d-flex flex-row justify-content-end">
                            <div>
                                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Okay then see you on
                                    sunday!!
                                </p>
                                <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:15</p>
                            </div>
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
                                 alt="avatar 1" style="width: 45px; height: 100%;">
                        </div>

                    </div>
                    <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
                             alt="avatar 1" style="width: 45px; height: 100%;">
                        <input type="text" class="form-control form-control-lg" id="exampleFormControlInput1"
                               placeholder="Type message">
                        <a class="ms-3" href="#!"><i class="fas fa-paper-plane"></i></a>
                    </div>
                </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--===========================================Search====================================================-->
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>

<script>
    $('.aPolo').click(() => $('#0').click())
    $('.aTShirt').click(() => $('#1').click())
    $('.aBag').click(() => $('#2').click())
</script>

<!--=========================================================LOAD MORE======================================-->

<!--===============================================================================================-->
<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/select2/select2.min.js}"></script>
<script>
    $(".js-select2").each(function () {
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next('.dropDownSelect2')
        });
    })
</script>
<!--===============================================================================================-->
<script th:src="@{/vendor/daterangepicker/moment.min.js}"></script>
<script th:src="@{/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/slick/slick.min.js}"></script>
<script th:src="@{/js/slick-custom.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/parallax100/parallax100.js}"></script>
<script>
    $('.parallax100').parallax100();
</script>
<!--===============================================================================================-->
<script th:src="@{/vendor/MagnificPopup/jquery.magnific-popup.min.js}"></script>
<script>
    $('.gallery-lb').each(function () { // the containers for all your galleries
        $(this).magnificPopup({
            delegate: 'a', // the selector for gallery item
            type: 'image',
            gallery: {
                enabled: true
            },
            mainClass: 'mfp-fade'
        });
    });
</script>
<!--===============================================================================================-->
<script th:src="@{/vendor/isotope/isotope.pkgd.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/sweetalert/sweetalert.min.js}"></script>
<script>
    $('.js-addwish-b2').on('click', function (e) {
        e.preventDefault();
    });

    $('.js-addwish-b2').each(
        function () {
            var nameProduct = $(this).parent().parent().find(
                '.js-name-b2').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-b2');
                $(this).off('click');
            });
        });

    $('.js-addwish-detail').each(
        function () {
            var nameProduct = $(this).parent().parent().parent().find(
                '.js-name-detail').html();

            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-detail');
                $(this).off('click');
            });
        });

    /*---------------------------------------------*/

    $('.js-addcart-detail').each(
        function () {
            var nameProduct = $(this).parent().parent().parent()
                .parent().find('.js-name-detail').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to cart !", "success");
            });
        });
</script>
<!--===============================================================================================-->
<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script>
    $('.js-pscroll').each(function () {
        $(this).css('position', 'relative');
        $(this).css('overflow', 'hidden');
        var ps = new PerfectScrollbar(this, {
            wheelSpeed: 1,
            scrollingThreshold: 1000,
            wheelPropagation: false,
        });

        $(window).on('resize', function () {
            ps.update();
        })
    });
</script>
<!--===============================================================================================-->
<script th:src="@{/js/main.js}"></script>
<!--=====================================================CHAT BOT==========================================-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script>
    var isToggleClicked = false; // Cờ để kiểm tra xem sự kiện click có xảy ra từ toggleChatPopup() hay không

    function toggleChatPopup() {
        isToggleClicked = true; // Đánh dấu là sự kiện click xảy ra từ toggleChatPopup()

        var chatPopup = document.getElementById("chatPopup");
        if (chatPopup.style.display === "none") {
            chatPopup.style.display = "block";
            document.addEventListener('click', handleClickOutside);
        } else {
            chatPopup.style.display = "none";
            document.removeEventListener('click', handleClickOutside);
        }
    }

    function handleClickOutside(event) {
        if (!isToggleClicked) { // Kiểm tra xem sự kiện click có xảy ra từ toggleChatPopup() hay không
            var targetElement = event.target;
            var chatPopup = document.getElementById("chatPopup");
            if (!chatPopup.contains(targetElement)) {
                chatPopup.style.display = "none";
            }
        }

        isToggleClicked = false; // Đặt lại cờ sau khi kiểm tra xong
    }

</script>

</body>
</html>