<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!--===============================================================================================-->
    <link rel="icon" th:href="@{/images/icons/favicon.png}" type="image/png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/fonts/linearicons-v1.0.0/icon-font.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/animate/animate.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/animsition/css/animsition.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/select2/select2.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/css/util.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body class="animsition">
<div th:replace="header :: header"></div>

<div class="container text-center">
    <form enctype="multipart/form-data"
          method="post" style="max-width: 600px; margin: 0 auto;"
          th:action="@{/member/user/edit}" th:object="${user}">
        <div class="m-3">
            <!-- Image 1 -->
            <div class="form-group row">
                <label class="col-form-label col-sm-4" for="1">Avatar:</label>
                <div class="col-sm-8">
                    <input accept="image/png,image/jpeg" id="fileImage1" name="primaryImage" th:field="*{image}"
                           type="file"/>
                    <p><img alt="Image Preview" id="thumbnail1" style="height:200px; width:200px;"
                            th:src="@{*{avatar}}"></p>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-8">
                    <input class="form-control mb-2 mr-sm-2" th:field="*{id}" type="hidden">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-sm-4" for="1">Full name:</label>
                <div class="col-sm-8">
                    <input class="form-control mb-2 mr-sm-2" id="1" pattern="[a-zA-ZÀ-ỹ ]{8,50}"
                           placeholder="Nhập tên" th:field="*{name}" type="text">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-sm-4" for="2">Mail:</label>
                <div class="col-sm-8">
                    <input class="form-control mb-2 mr-sm-2" disabled id="2"
                           placeholder="Nhập mail" th:field="*{mail}" type="email">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-sm-4" for="2">Phone:</label>
                <div class="col-sm-8">
                    <input class="form-control mb-2 mr-sm-2" id="2"
                           pattern="^(09|03)\d{8}$" placeholder="Nhập số điện thoại" required
                           th:field="*{phone}"
                           th:value="${user.phone}" title="Invalid phone number" type="tel">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-sm-4" for="2">Address:</label>
                <div class="col-sm-8">
                    <input class="form-control mb-2 mr-sm-2" id="2 location"
                           placeholder="Nhập địa chỉ" th:field="*{address}" type="text">
                </div>
            </div>


            <div class="form-group row">
                <label class="col-form-label col-sm-4" for="2">State:</label>
                <div class="col-sm-8">
                    <input class="form-control mb-2 mr-sm-2" id="2"
                           placeholder="Nhập tỉnh thành" th:field="*{state}" type="text">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-sm-4" for="2">City:</label>
                <div class="col-sm-8">
                    <input class="form-control mb-2 mr-sm-2" id="2"
                           placeholder="Nhập thành phố" th:field="*{city}" type="text">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-sm-4" for="2">Postal code:</label>
                <div class="col-sm-8">
                    <input class="form-control mb-2 mr-sm-2" id="2"
                           placeholder="Nhập mã bưu chính" th:field="*{postalCode}" type="text">
                </div>
            </div>

            <div class="text-center p-3">
                <button class="btn btn-primary mb-2 m-l-80" style="height: 38px;" type="submit">Save</button>

                <!-- Button to trigger the modal -->
                <button class="btn btn-primary mb-2 m-l-40" data-target="#changePasswordModal" data-toggle="modal"
                        style="height: 38px;" type="button">Change password
                </button>
            </div>
        </div>
    </form>
</div>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="changePasswordModalLabel" class="modal fade" id="changePasswordModal"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="changePasswordForm" method="post" th:action="@{/member/user/change-password}">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="currentPassword">Current password:</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="currentPassword" name="currentPassword" required
                                   type="password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="newPassword">New password:</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="newPassword" name="newPassword" required type="password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="confirmPassword">Confirm password:</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="confirmPassword" required type="password">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="footer :: footer"></div>

<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top"> <i
                class="zmdi zmdi-chevron-up"></i>
		</span>
</div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQQLqSCAcWU3UxnrHPs0A19WDuUp9OvnI&callback=initMap&libraries=places&v=weekly"></script>

<script>
    function initialize() {
        var input = document.getElementById('location');
        new google.maps.places.Autocomplete(input);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>

<!--===============================================================================================-->
<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/select2/select2.min.js}"></script>
<script>
    $(".js-select2").each(function () {
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next('.dropDownSelect2')
        });
    })
</script>
<!--===============================================================================================-->
<script th:src="@{/vendor/MagnificPopup/jquery.magnific-popup.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script>
    $('.js-pscroll').each(function () {
        $(this).css('position', 'relative');
        $(this).css('overflow', 'hidden');
        var ps = new PerfectScrollbar(this, {
            wheelSpeed: 1,
            scrollingThreshold: 1000,
            wheelPropagation: false,
        });

        $(window).on('resize', function () {
            ps.update();
        })
    });
</script>
<!--===============================================================================================-->
<script th:src="@{/js/main.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript">
    $(document).ready(function () {
        $('#fileImage1').change(function () {
            showImageThumbnail1(this);
        });

    });

    function showImageThumbnail1(fileInput) {
        file = fileInput.files[0];
        reader = new FileReader();

        reader.onload = function (e) {
            $('#thumbnail1').attr('src', e.target.result);
        };

        reader.readAsDataURL(file);
    }

</script>
<script th:inline="javascript">
    /* Gán giá trị thuộc tính err vào biến JavaScript */
    var errMessage = [[${noti}]];
    if (errMessage != null) {
        alert(errMessage);
    }
</script>

<script th:inline="javascript">
    document.getElementById("changePasswordForm").addEventListener("submit", function (event) {
        event.preventDefault(); // Prevent form submission

        // Get input values
        var currentPassword = document.getElementById("currentPassword").value;
        var newPassword = document.getElementById("newPassword").value;
        var confirmPassword = document.getElementById("confirmPassword").value;

        // Check if new password and confirm password match
        if (newPassword !== confirmPassword) {
            alert("New password and confirm password do not match");
        } else if (currentPassword === newPassword) {
            alert("New password must be different from current password");
        } else {
            document.getElementById("changePasswordForm").submit();
        }
    });

</script>
</body>
</html>