<!DOCTYPE html>
<html lang="en">
<head>
    <title>Purchase History</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!--===============================================================================================-->
    <link rel="icon" th:href="@{/images/icons/favicon.png}" type="image/png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
          type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}"
          type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}"
          type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/fonts/linearicons-v1.0.0/icon-font.min.css}"
          type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/animate/animate.css}"
          type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}"
          type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/animsition/css/animsition.min.css}"
          type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/select2/select2.min.css}"
          type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}"
          type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/css/util.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
    <!--===============================================================================================-->

</head>
<body class="animsition">

<div th:replace="header :: header"></div>

<div th:replace="cart-mini :: cart-mini"></div>

<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a class="stext-109 cl8 hov-cl1 trans-04" th:href="@{/home}"> Home
            <i aria-hidden="true" class="fa fa-angle-right m-l-9 m-r-10"></i>
        </a> <span class="stext-109 cl4"> Purchase History </span>
    </div>

    <div class="p-t-75 p-b-75">
        <div class="m-l-25 m-r--38 m-lr-0-xl">
            <div class="wrap-table-purchase-history">
                <table class="table-purchase-history dataTables table mb-0 tbl-server-info">
                    <thead class="bg-white text-uppercase table_head">
                    <tr class="ligth ligth-data">
                        <th class="text-center">STT</th>
                        <th class="text-center">Product</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody class="ligth-body">
                    <th:block th:each="bill, iState: ${bills}">
                        <tr th:each="ci, i: ${bill.cartItem}"
                            th:style="${i.index + 1== bill.cartItem.size()? 'padding: 10px; border-bottom: 2px solid #f0f0f0;' : ''}">
                            <td class="align-middle text-center"
                                th:attr="rowspan=${ i.index == 0 ? bill.cartItem.size()  : ''}"
                                th:if="${i.index == 0}" th:text="${iState.index + 1}">
                            </td>

                            <td>
                                <div class="d-flex align-items-center align-middle">
                                    <img alt="image"
                                         class="img-fluid rounded avatar-50 mr-3"
                                         style="height:80px; width:80px;object-fit: cover;"
                                         th:src="@{${ci.product.imgMain}}">
                                    <div>
                                        <b class="name" th:text="${ci.product.name}"></b>
                                        <p class="mb-0">
                                            <small th:text="${'Size: ' + ci.product.size}"></small>
                                        </p>
                                        <p class="mb-0">
                                            <small th:text="${'Color: ' + ci.product.color}"></small>
                                        </p>
                                    </div>
                                </div>
                            </td>

                            <td class="align-middle text-center" th:text="${'x '+ ci.quantity}"></td>

                            <td class="align-middle text-center"
                                th:attr="rowspan=${ i.index == 0 ? bill.cartItem.size()  : ''}"
                                th:if="${i.index == 0}">
                                <a class="btn cl2 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5"
                                   th:href="@{'purchase-history/'+ ${bill.id}}">
                                    <span class="glyphicon glyphicon-trash">Info</span>
                                </a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:if="bills.size() > 0" th:replace="footer :: footer"></div>

<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top"> <i
                class="zmdi zmdi-chevron-up"></i>
		</span>
</div>

<!--===============================================================================================-->
<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/select2/select2.min.js}"></script>
<script>
    $(".js-select2").each(function () {
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next('.dropDownSelect2')
        });
    })
</script>
<!--===============================================================================================-->
<script th:src="@{/vendor/MagnificPopup/jquery.magnific-popup.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script>
    $('.js-pscroll').each(function () {
        $(this).css('position', 'relative');
        $(this).css('overflow', 'hidden');
        var ps = new PerfectScrollbar(this, {
            wheelSpeed: 1,
            scrollingThreshold: 1000,
            wheelPropagation: false,
        });

        $(window).on('resize', function () {
            ps.update();
        })
    });
</script>
<!--===============================================================================================-->
<script th:src="@{/js/main.js}"></script>

<!--<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />-->
<!--<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>-->
<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        $("#tableOne").DataTable({-->
<!--            lengthMenu: [5, 10, 20, 30], // show entries-->
<!--            'columnDefs': [-->
<!--                {-->
<!--                    'searchable': false,-->
<!--                    'targets': [0, 2, 3, 5, 7] // cac truong k cho search-->
<!--                    // see https://datatables.net/reference/option/columns.searchable-->
<!--                },-->
<!--                {-->
<!--                    'orderable': false,-->
<!--                    'targets': [7] // cac truong k cho filter-->
<!--                },-->
<!--            ]-->
<!--        });-->
<!--    });-->
<!--</script>-->
</body>
</html>