<div th:fragment="footer">

    <!-- Footer -->
    <footer class="bg3 p-t-75 p-b-32">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">Categories</h4>

                    <ul>
                        <th:block th:each="cate : ${cate}">
                            <li class="p-b-10"><a class="stext-107 cl7 hov-cl1 trans-04" href="#" th:text="${cate.type}"></a></li>
                        </th:block>
                    </ul>
                </div>

                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">Help</h4>

                    <ul>
                        <li class="p-b-10"><a class="stext-107 cl7 hov-cl1 trans-04"
                                              href="#"> Track Order </a></li>

                        <li class="p-b-10"><a class="stext-107 cl7 hov-cl1 trans-04"
                                              href="#"> Returns </a></li>

                        <li class="p-b-10"><a class="stext-107 cl7 hov-cl1 trans-04"
                                              href="#"> Shipping </a></li>

                        <li class="p-b-10"><a class="stext-107 cl7 hov-cl1 trans-04"
                                              href="#"> FAQs </a></li>
                    </ul>
                </div>

                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">GET IN TOUCH</h4>

                    <p class="stext-107 cl7 size-201">
                        Any questions?</br>
                        Let us know at the store in Tu Nhien commune, Thuong Tin district, Hanoi, call us at (+84)
                        965240637</p>
                </div>

                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">Newsletter</h4>

                    <form>
                        <div class="wrap-input1 w-full p-b-4">
                            <input class="input1 bg-none plh1 stext-107 cl7" name="email"
                                   placeholder="email@example.com" type="text">
                            <div class="focus-input1 trans-04"></div>
                        </div>

                        <div class="p-t-18">
                            <button
                                    class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                                Subscribe
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>
</div>