<!doctype html>
<html lang="en">
<head th:replace="admin/template :: header"></head>
<body class="  ">
<!-- loader Start -->
<div th:replace="admin/template :: loading"></div>
<!-- loader END -->

<!-- Wrapper Start -->
<div class="wrapper">
    <div th:replace="admin/template :: sidebar"></div>
    <div th:replace="admin/template :: navbar"></div>
    <div th:replace="admin/template :: new-order"></div>

    <div class="content-page">
        <div class="container-fluid">
            <!-- Check if Blog already exists -->
            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${err}">
                <strong>Error: </strong> [[${err}]]
                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                        <div>
                            <h4 class="mb-3">Blog List</h4>
                        </div>
                        <a class="btn btn-primary add-list" th:href="@{/admin/blog/new}"><i
                                class="las la-plus mr-3"></i>Add Blog</a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="table-responsive rounded mb-3">
                        <table class="dataTables table mb-0 tbl-server-info">
                            <thead class="bg-white text-uppercase">
                            <tr class="ligth ligth-data">
                                <th>ID</th>
                                <th>Title</th>
                                <th>Image</th>
                                <th>Category</th>
                                <th>Tag</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody class="ligth-body">
                            <th:block th:each="b, iState : ${blogs}">
                                <tr>
                                    <td th:text="${b.id}"></td>
                                    <td><a th:text="${b.title}"></a></td>
                                    <td><img alt="IMG-LOGO"
                                             style="width: 130px; height: 100px;" th:src="@{${b.image}}"></td>
                                    <td><span th:text="${categoryForBlog.getId(b.categoryBlogId).type}"></span></td>
                                    <td>
                                        <span th:each="blogDTO : ${b.tags}" th:if="${b.tags.size() > 1}">[[${blogDTO.type}]], </span>
                                        <span th:each="blogDTO : ${b.tags}" th:if="${b.tags.size() == 1}">[[${blogDTO.type}]]</span>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center list-action">
                                            <a class="badge bg-success mr-2" data-original-title="Edit"
                                               data-placement="top"
                                               data-toggle="tooltip" th:href="@{'/admin/blog/edit?id=' + ${b.id}}"
                                               title=""><i class="ri-pencil-line mr-0"></i></a>

                                            <a class="badge bg-warning mr-2" data-original-title="Delete"
                                               data-placement="top"
                                               data-toggle="tooltip" th:href="@{'/admin/blog/delete/' + ${b.id}}"
                                               title=""><i class="ri-delete-bin-line mr-0"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Page end  -->
        </div>
    </div>
</div>
<!-- Wrapper End-->

<!-- Delete Modal -->
<div aria-hidden="true"
     aria-labelledby="exampleModalCenteredScrollableTitle"
     class="modal fade" id="deleteModal"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Blog Blog</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/admin/categories/delete/}">
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Footer Start -->
<footer th:replace="admin/template :: footer"></footer>
<!-- Footer End -->


<div th:replace="admin/template :: script"></div>


<script>
    $(document).ready(function () {
        $(".tbl-server-info").on("click", ".bg-warning", function () {
            var id = $(this).closest("tr").find("td:eq(0)").text();
            $("#deleteModal form").attr("action", "/admin/categories/delete/" + id);
            $("#deleteModal input[name='id']").val(id);
        });

        $(".dataTables").DataTable({
            'columnDefs': [
                {
                    'searchable': false,
                    'targets': [2] // cac truong k cho search
                },
                {
                    'orderable': false,
                    'targets': [2, 5]
                }
            ]
        });
    });
</script>
</body>
</html>